<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Uživatel | Train-Fit</title>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{$basePath}/www/assets/datepicker/css/datepicker.css">
<script src="{$basePath}/www/assets/fullCalendar/moment.js"></script>
<script src="{$basePath}/www/assets/jquery.min.js"></script>
<script src="{$basePath}/www/assets/datepicker/js/bootstrap-datepicker.js"></script>
<script src="{$basePath}/www/assets/nette.ajax.js"></script>
<script src="{$basePath}/www/assets/bootstrapNotify/bootstrap-notify.js"></script>
<link rel="stylesheet" href="{$basePath}/www/assets/css/user.css">

<script>
    $(function () {
        $.nette.init();
    });
</script>