<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" n:href=":User:User:dashboard">Uživatelská sekce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                {if !$presenter->isLinkCurrent(':User:User:newUser')}
                    <a n:class="$presenter->isLinkCurrent(':User:Calendar:show') ? 'nav-link active' : 'nav-link'" n:href=":User:Calendar:">Kalendář</a>
                {/if}
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a n:href=":User:User:config" class="btn btn-info"><i class="fa fa-user" aria-hidden="true"></i> Uživatel</a>
            &nbsp;
            <a n:href="logout!" class="btn btn-danger">Odhlásit</a>
        </form>
    </div>
</nav>