<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{$basePath}/www/assets/js/user.js"></script>
<link rel="stylesheet" href="{$basePath}/www/assets/fullCalendar/fullCalendar.css">

{if $presenter->isLinkCurrent(':User:Calendar:*')}

    <script src="{$basePath}/www/assets/fullCalendar/fullcalendar.min.js"></script>
    <script src="{$basePath}/www/assets/fullCalendar/locale-all.js"></script>
{/if}