<div class="row" style="padding-top: 7px; padding-bottom: 3px;">
    <div class="col-md-6 offset-md-3 text-center">
        <div n:foreach="$flashes as $flash" n:class="alert, 'alert-dismissible fade show alert-' . $flash->type"
                role="alert">{$flash->message}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>