<meta charset="utf-8">
<meta name="keywords" content="HTML,CSS,XML,JavaScript">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Admin | Train-Fit</title>
<!-- Font Awesome JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- DATAGRID -->
<link rel="stylesheet" href="{$basePath}/www/assets/css/happy.css">
<link rel="stylesheet" href="{$basePath}/www/assets/css/datagrid.css">
<link rel="stylesheet" href="{$basePath}/www/assets/css/datagrid-spinners.css">
<link rel="stylesheet" type="text/css" href="{$basePath}/www/assets/datepicker/css/datepicker.css">
<link rel="stylesheet" href="{$basePath}/www/assets/fullCalendar/fullCalendar.css">

<script src="{$basePath}/www/assets/fullCalendar/moment.js"></script>
<script src="{$basePath}/www/assets/jquery.min.js"></script>
<script src="{$basePath}/www/assets/datepicker/js/bootstrap-datepicker.js"></script>
<script src="{$basePath}/www/assets/nette.ajax.js"></script>
<script src="{$basePath}/www/assets/bootstrapNotify/bootstrap-notify.js"></script>

<link rel="stylesheet" href="{$basePath}/www/assets/css/admin.css">

<script>
    $(function () {
        $.nette.init();
    });
</script>