<script defer src="https://nette.github.io/resources/js/netteForms.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script defer src="{$basePath}/www/assets/js/bootstrap.bundle.min.js"></script>
<script defer src="{$basePath}/www/assets/js/admin.js"></script>

{if $presenter->isLinkCurrent(':Admin:Calendar:*')}

    <script src="{$basePath}/www/assets/fullCalendar/fullcalendar.min.js"></script>
    <script src="{$basePath}/www/assets/fullCalendar/locale-all.js"></script>
{/if}

<script defer src="{$basePath}/www/assets/js/happy.js"></script>
<script defer src="{$basePath}/www/assets/js/jquery-ui-sortable.js"></script>
<script defer src="{$basePath}/www/assets/js/datagrid.js"></script>
<script defer src="{$basePath}/www/assets/js/datagrid-instant-url-refresh.js"></script>

