{block content}

<div class="row pt-5">
    <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <form n:name="generateUser">
            <h2 class="pb-4">Generování uživatele</h2>
            <div class="form-group">
                <label for="surname">Email</label>
                <input n:name="email" type="email" class="form-control" autocomplete="off">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Jméno</label>
                        <input n:name="name" type="text" class="form-control" id="name" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="surname">Příjmení</label>
                        <input n:name="surname" type="text" class="form-control" id="surname" autocomplete="off">
                    </div>
                </div>
            </div>
            <h4>Povolení trenéři</h4>
            <div class="form-check">
                {foreach $form[trainers]->items as $key => $label}
                    <label n:name="trainers:$key"class="form-check-label">
                        <input n:name="trainers:$key" type="checkbox" class="form-check-input">
                        {$label}
                    </label>
                    <br>
                {/foreach}
            </div>
            <br>
            <button type="submit" class="btn btn-success col-md-12">Generovat</button>
        </form>
    </div>
</div>