<!DOCTYPE html>
<html lang="en">
<head>
    {include '../AdminModule/templates/Admin/blocks/@header.latte'}
</head>
<body>

{if $user->isLoggedIn() && ($user->isInRole('trainer') || $user->isInRole('superadmin'))}
    <link rel="stylesheet" href="{$basePath}/www/assets/css/sidenav.css">
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light" id="sidebar-wrapper">
            <div class="sidebar-heading">Administrace</div>
            <div class="list-group list-group-flush">
                <a n:href=":Admin:Calendar:" n:class="$presenter->isLinkCurrent(':Admin:Calendar:default') ? 'shadow bg-white rounded list-group-item side-active list-group-item-action bg-light' : 'list-group-item list-group-item-action bg-light'">Kalendář</a>
                <a n:href=":Admin:Settings:trainer" n:class="$presenter->isLinkCurrent(':Admin:Settings:trainer') ? 'shadow bg-white rounded list-group-item side-active list-group-item-action bg-light' : 'list-group-item list-group-item-action bg-light'">Nastavení</a>
                <a n:if="$user->isInRole('superadmin')" n:href=":Admin:Admin:generateUser" n:class="$presenter->isLinkCurrent(':Admin:Admin:generateUser') ? 'shadow bg-white rounded list-group-item side-active list-group-item-action bg-light' : 'list-group-item list-group-item-action bg-light'">Generovat uživatele</a>
                <a n:if="$user->isInRole('superadmin')" n:href=":Admin:Calendar:trainers"
                        n:class="$presenter->isLinkCurrent(':Admin:Calendar:trainers') ? 'shadow bg-white rounded list-group-item side-active list-group-item-action bg-light' : 'list-group-item list-group-item-action bg-light'">Přehled
                    trenérů</a>
                <a n:if="$user->isInRole('superadmin')" n:href=":Admin:Settings:users"
                        n:class="$presenter->isLinkCurrent(':Admin:Settings:users') ? 'shadow bg-white rounded list-group-item side-active list-group-item-action bg-light' : 'list-group-item list-group-item-action bg-light'">Přehled
                    uživatelů</a>
                <a n:if="$user->isInRole('superadmin')" n:href=":Admin:Settings:pricelist"
                        n:class="$presenter->isLinkCurrent(':Admin:Settings:pricelist') ? 'shadow bg-white rounded list-group-item side-active list-group-item-action bg-light' : 'list-group-item list-group-item-action bg-light'">Ceníky
                    trenérů</a>
                <a n:if="$user->isInRole('superadmin')" n:href=":Admin:Calculation:"
                        n:class="$presenter->isLinkCurrent(':Admin:Calculation:*') ? 'shadow bg-white rounded list-group-item side-active list-group-item-action bg-light' : 'list-group-item list-group-item-action bg-light'">Kalkulace</a>
                <a n:if="$user->isInRole('superadmin')" n:href=":Admin:Settings:packageSelection"
                        n:class="$presenter->isLinkCurrent(':Admin:Settings:packageSelection') ? 'shadow bg-white rounded list-group-item side-active list-group-item-action bg-light' : 'list-group-item list-group-item-action bg-light'">Balíčky</a>

            </div>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
                <button class="btn btn-secondary" id="menu-toggle"><i class="fas fa-arrow-left"></i> <i
                            class="fas fa-bars"></i></button>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown" style="cursor: pointer;">
                            <a class="nav-link dropdown-toggle" data-target="#rightDropdown" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Uživatel
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" id="rightDropdown">
                                <a n:href=":Admin:Settings:info" class="dropdown-item">Informace</a>
                                <a n:href=":Admin:Settings:trainer" class="dropdown-item">Nastavení</a>
                                <div class="dropdown-divider"></div>
                                <a n:href="logout!" class="dropdown-item">Odhlásit</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 offset-md-3 text-center">
                        <div n:foreach="$flashes as $flash" n:class="alert, 'alert-dismissible fade show alert-' . $flash->type"
                                role="alert">{$flash->message}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>

                {include content}
            </div>
        </div>

    </div>
{else}
    <div class="col-md-6 offset-md-3 text-center" style="position: absolute;">
        <div n:foreach="$flashes as $flash" n:class="alert, 'alert-dismissible fade show alert-' . $flash->type"
                role="alert">{$flash->message}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
            <h3>Přihlášení trenéra</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4" style="margin-top: 10vh;">
            <form n:name="adminLoginForm" class="admin_form">
                <div class="form-group">
                    <div style="text-align: center">{label login}</div>
                    <input type="text" n:name="login" class="form-control" autocomplete="off">
                </div>
                <div class="form-group">
                    <div style="text-align: center">{label password}</div>
                    <input type="password" n:name="password" class="form-control" autocomplete="off">
                </div>
                <div class="row">
                    <div class="text-center col-md-12">
                        <button class="btn btn-success col-md-12" n:name="submit">Vstoupit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
{/if}

{block scripts}

    {include '../AdminModule/templates/Admin/blocks/@scripts.latte'}

{/block}

{block customScripts}{/block}

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>
</html>