<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159066697-1"></script>
    <script n:syntax="off">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-159066697-1');
    </script>
    <meta charset="utf-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrainFit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" Samesite="None">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{$basePath}/www/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/www/assets/css/style.css?version=2" type="text/css">
    <link rel="stylesheet" href="{$basePath}/www/assets/css/responsive.css">
    <link rel="stylesheet" href="{$basePath}/www/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="{$basePath}/www/assets/css/owl.theme.default.css">
    <link rel="stylesheet" href="{$basePath}/www/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="{$basePath}/www/assets/css/animate.css">
    <script src="{$basePath}/www/assets/js/jquery.min.js"></script>
</head>
<body>

<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

{include content}

{block scripts}
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <!-- jQuery -->
    <!-- <script src="{$basePath}/www/assets/js/jquery.min.js"></script> -->

    <!-- Bootstrap -->
    <script src="{$basePath}/www/assets/js/bootstrap.min.js"></script>

    <!-- scroll_to_top -->
    <script src="{$basePath}/www/assets/js/ScrollToPlugin.min.js"></script>

    <!-- classes_portfolio -->
    <script src="{$basePath}/www/assets/js/jquery.isotope.min.js"></script>

    <!-- carousel slider -->
    <script src="{$basePath}/www/assets/js/owl.carousel.js"></script>

    <!-- blog -->
    <script src="{$basePath}/www/assets/js/jquery.magnific-popup.min.js"></script>

    <!-- classes_portfolio -->
    <script src="{$basePath}/www/assets/js/jquery.bxslider.min.js"></script>

    <!-- wow -->
    <script src="{$basePath}/www/assets/js/wow.min.js"></script>

    <!-- Global Init -->
    <script src="{$basePath}/www/assets/js/custom.js"></script>
{/block}
</body>
</html>