<!DOCTYPE html>
<html lang="en">
<head>

    <title>Uživatel | Train-Fit</title>

    {include '../UserModule/templates/User/blocks/@header.latte'}

</head>
<body>

{if $presenter->user->isLoggedIn()}
    {include '../UserModule/templates/User/blocks/@navbar.latte'}
{/if}

<div class="container">

    <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
            <div style="position: absolute;" n:foreach="$flashes as $flash" n:class="alert, 'alert-dismissible fade show alert-' . $flash->type"
                    role="alert">{$flash->message}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

    {include content}

</div>


{include '../UserModule/templates/User/blocks/@scripts.latte'}

{block customScripts}{/block}
</body>
</html>