html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

.prices {
	font-family: 'Poppins', sans-serif !important;
}

@media only screen and (max-width: 600px) {
	.new-line {
		display: block;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.rotateBg {
		opacity: 0.8;
		background-color: rgba(179, 17, 40, 0.76);
		position: absolute !important;
		left: 32vw !important;
		margin-top: 10%;
		padding: 13px;
		width: auto !important;
		-webkit-box-shadow: 5px 5px 15px 5px #000000;
		box-shadow: 5px 5px 15px 5px #000000;
		border-radius: 12px;
	}

	.rotate {
		margin-bottom: 10px !important;
		opacity: 0.8;
		padding-left: 2vw;
		a {
			color: #000000;
		}

		span {
			font-size: 22px;
		}
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.rotateBg {
		opacity: 0.8;
		background-color: rgba(179, 17, 40, 0.76);
		position: absolute !important;
		left: 23vw !important;
		margin-top: 10%;
		padding: 13px;
		width: auto !important;
		-webkit-box-shadow: 5px 5px 15px 5px #000000;
		box-shadow: 5px 5px 15px 5px #000000;
		border-radius: 12px;
	}

	.rotate {
		margin-bottom: 10px !important;
		opacity: 0.8;
		padding-left: 5vw;
		a {
			color: #000000;
		}
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.rotateBg {
		opacity: 0.8;
		background-color: rgba(179, 17, 40, 0.76);
		position: absolute !important;
		left: 0 !important;
		margin-top: 10%;
		padding: 13px;
		width: auto !important;
		-webkit-box-shadow: 5px 5px 15px 5px #000000;
		box-shadow: 5px 5px 15px 5px #000000;
		border-radius: 12px;
	}

	.rotate {
		margin-bottom: 10px !important;
		opacity: 0.8;
		padding-left: 2vw;
		a {
			color: #000000;
		}
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.rotateBg {
		opacity: 0.8;
		background-color: rgba(179, 17, 40, 0.76);
		position: absolute !important;
		left: -20px !important;
		margin-top: 10%;
		padding: 13px;
		width: auto !important;
		-webkit-box-shadow: 5px 5px 15px 5px #000000;
		box-shadow: 5px 5px 15px 5px #000000;
		border-radius: 12px;
	}

	.rotate {
		margin-bottom: 10px !important;
		opacity: 0.8;
		padding-left: 2vw;
		a {
			color: #000000;
		}
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.rotateBg {
		position: absolute;
		left: 450px !important;
		opacity: 0.8;
		margin-top: 1vh;
		padding: 2vw;
		-webkit-box-shadow: 5px 5px 15px 5px #000000;
		box-shadow: 5px 5px 15px 5px #000000;
		border-radius: 12px;
	}

	.rotate {
		margin-bottom: 10px !important;
		opacity: 0.8;
		padding-left: 2vw;
		a {
			color: #000000;
		}
	}
}

#pricelist-dropdown, #diagnostic-dropdown, #pricelist-nutrition-dropdown {
	color: #a81a04;

	&:hover {
		color: #e22306;
		cursor: pointer;
	}
}

h1, h2, h3, h4, h5, h6 {
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	margin: 0;
	background: none;
	color: #000000;
}

ul, li {
	font-size: 20px;
	line-height: 1.65;
	font-weight: 500;
}

@media only screen and (max-width: 576px) {
	ul, li {
		font-size: 19px !important;
		line-height: 33px;
	}
}

@media only screen and (max-width: 576px) {
	h1 {
		padding-bottom: 20px !important;
	}
}

p {
	position: relative;
	line-height: 30px;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #000000;
	line-height: 1.6em;
	font-weight: 400;
	background: #fff;
}

a {
	&:hover, &:focus, &:visited {
		text-decoration: none;
		outline: none;
	}

	text-decoration: none;
	cursor: pointer;
	color: #ffffff;
}

textarea {
	resize: none;

	&:focus {
		outline: none;
	}
}

input:focus, select:focus, a:focus, button:focus {
	outline: none;
}

.container {
	max-width: 100%;
	margin: 0 auto;
}

.title {
	/*text-align: center;*/
	text-transform: uppercase;
	font-size: 40px;
	font-weight: lighter;
}

.aftertitle {
	max-width: 500px;
	font-size: 18px;
	font-weight: 500;
}

.hidden {
	display: none;
}

.hvr-shutter-out-horizontal {
	&:hover, &:focus, &:active {
		color: white;
	}

	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;

	&:hover:before, &:focus:before, &:active:before {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgb(143, 20, 3);
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 50%;
		transform-origin: 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
		outline: none;
		border-radius: 50px;
		border-color: rgb(143, 20, 3) !important;
		color: #ffffff;
	}
}

.page-wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-width: 300px;
	min-height: 400px;
	overflow: hidden;
}

.owl-theme .owl-dots .owl-dot {
	&.active span, &:hover span {
		background: rgb(143, 20, 3) !important;
	}
}

/*
---------------------------------------------
Header
---------------------------------------------
*/

.main-menu {
	.navbar-toggle {
		border: 1px solid rgb(143, 20, 3);

		.icon-bar {
			background: rgb(143, 20, 3);
		}
	}

	ul li.social_nav {
		display: none;
	}
}

.main-header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: transparent;
	z-index: 999;
	-webkit-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;

	.header-top {
		position: relative;
		background: #000000;
		border-bottom: 1px solid #ffffff91;
	}
}

.page-wrapper .header-fixed .header-lower {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 555;
}

.main-header .header-lower {
	position: relative;
	background: rgba(9, 9, 9, 0.9);
	min-height: 80px;
	padding: 13px 0;
}

.header-lower .logo .logo_name, .main-footer .logo_name {
	margin: 8px auto;
	color: rgb(143, 20, 3);
	font-weight: 800;
}

.header-lower .logo .logo_name .white_text, .main-footer .logo_name .white_text {
	color: #ffffff;
}

.main-header .header-top .top-left {
	.fa {
		color: #ffffff;
		padding-right: 10px;
		font-size: 18px;
	}

	.phone, .email {
		margin-right: 80px;
		line-height: 26px;
		font-size: 16px;
		font-weight: 400;
		font-family: 'Lato', sans-serif;
	}
}

.top-right .social {
	.fa {
		color: #000000;
	}

	.txt {
		color: #ffffff;
		font-size: 16px;
		font-family: 'Lato', sans-serif;
		margin-right: 12px;
	}

	.login {
		color: rgb(143, 20, 3);
		font-size: 16px;
		font-weight: bold;
		font-family: 'Lato', sans-serif;
		margin-right: 12px;
	}

	.circlei {
		padding: 3px 9px;
		background: #ffffff;
		border-radius: 30px;
		display: inline-block;

		&:hover {
			background: rgb(143, 20, 3);
		}
	}

	.circlef {
		&:hover {
			background: rgb(143, 20, 3);
		}

		padding: 3px 11px;
		background: #ffffff;
		border-radius: 30px;
		margin-right: 10px;
		display: inline-block;
	}
}

.main-menu .nav li {
	padding-right: 0;
	padding-left: 40px;

	a {
		padding: 15px 0;
		position: relative;
		display: block;
		font-size: 15px;
		line-height: 22px;
		font-weight: 500;
		text-transform: uppercase;
		opacity: 1;
		z-index: 2;
		transition: all 500ms ease;
		border-bottom: 2px solid transparent;

		&:hover {
			border-bottom: 2px solid rgb(143, 20, 3);
			background-color: transparent;
			color: #fff;
		}
	}

	&.current a {
		border-bottom: 2px solid rgb(143, 20, 3);
		background-color: transparent;
		color: #fff;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.main-header .search-box {
	.search-form {
		position: relative;
		float: right;
		max-width: 300px;
		overflow: hidden;
		background: rgba(9, 9, 9, 0.98);
	}

	position: absolute;
	padding: 15px 0;
	background: rgba(9, 9, 9, 0);
	color: #ffffff;
	display: none;
	max-width: 300px;
	right: 10px;

	.form-group {
		position: relative;
		display: block;
		padding: 0;
		margin: 0;
		width: 100%;
		overflow: hidden;

		input {
			&[type="search"], &[type="text"] {
				position: relative;
				display: block;
				width: 100%;
				padding: 6px 40px 4px 15px;
				border: 2px solid #ffffff;
				font-weight: 500;
				font-size: 16px;
				line-height: 22px;
				background: none;
			}
		}

		.search-submit {
			position: absolute;
			right: 1px;
			top: 0;
			width: 44px;
			height: 35px;
			background: #82b53f;
			display: block;
			padding: 5px 10px 5px 10px;
			color: #ffffff;
			font-size: 16px;
			line-height: 26px;

			.fa {
				display: inline-block;
				position: relative;
				margin-left: 0;
			}
		}
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*search*/
/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.openBtn {
	background: #f1f1f1;
	border: none;
	padding: 10px 15px;
	font-size: 20px;
	cursor: pointer;

	&:hover {
		background: #bbb;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

#myOverlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);

	&.animated {
		animation-duration: 300ms;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.overlay-content {
	position: relative;
	top: 46%;
	width: 45%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

#myOverlay {
	.closebtn {
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
		cursor: pointer;
		color: white;

		&:hover {
			color: #ccc;
		}
	}

	input[type=text] {
		float: left;
		width: 80%;
		background: transparent;
		border-top: none;
		border-right: none;
		border-bottom: 2px solid rgba(255, 255, 255, 0.5);
		border-left: none;
		font-size: 30px;
		font-weight: 100;
		padding: 20px 38px 20px 2px;
		text-transform: capitalize;
		background: transparent;
		line-height: 40px;
		color: #fff;
	}

	button {
		float: left;
		padding: 15px;
		background: transparent;
		font-size: 30px;
		border: none;
		cursor: pointer;
		color: #ffffff;
		padding-top: 35px;
		padding-left: 20px;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*
---------------------------------------------
Carousel
---------------------------------------------
*/

.slider {
	.item {
		h2, p, span {
			color: #ffffff;
		}

		p {
			font-size: 20px;
			max-width: 700px;
			text-transform: capitalize;
			font-family: 'Raleway', sans-serif;
		}

		h2, p {
			margin-bottom: 50px;
			font-weight: 400;
		}
	}

	.slide::after {
		background-size: 100% 214px;
		bottom: 0;
		content: "";
		height: 214px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		width: 100%;
	}

	.carousel-indicators {
		bottom: 130px;
	}
}

/********************************/
/*       Fade Bs-carousel       */
/********************************/

.fade-carousel {
	position: relative;
	height: 135vh;

	.carousel-inner .item {
		height: 135vh;
	}

	.carousel-indicators {
		> li {
			&.active {
				margin: 0 2px;
				background-color: transparent;
				border-color: rgb(143, 20, 3);
				opacity: .7;
				width: 20px;
				height: 20px;

				p {
					width: 12px;
					height: 12px;
					background: #ffffff;
					text-align: center;
					margin: 3px;
					border-radius: 30px;
					opacity: 1;
				}
			}

			margin: 0 2px;
			background-color: transparent;
			border-color: transparent;
			opacity: .7;
			width: 20px;
			height: 20px;

			p {
				width: 12px;
				height: 12px;
				background: #ffffff;
				text-align: center;
				margin: 3px;
				border-radius: 30px;
				opacity: 0.7;
			}
		}

		.active {
			background-color: transparent;
		}

		> li.active {
			&.first span {
				height: 43px;
			}

			&.sec span {
				height: 40px;
				display: block;
				margin-left: 10px;
			}

			span {
				width: 1px;
				height: 40px;
				color: rgb(143, 20, 3);
				position: absolute;
				background: rgb(143, 20, 3);
				top: 20px;
				z-index: 8;
			}

			&.last span {
				height: 37px;
			}
		}
	}
}

/********************************/
/*          Hero Headers        */
/********************************/

.hero {
	position: absolute;
	top: 50%;
	left: 37%;
	z-index: 3;
	color: #fff;
	text-align: left;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);

	h1 {
		font-size: 6em;
		font-weight: bold;
		margin: 0;
		padding: 0;
	}
}

.fade-carousel .carousel-inner .item {
	.hero {
		opacity: 0;
		-webkit-transition: 1.5s all ease-in-out .1s;
		-moz-transition: 1.5s all ease-in-out .1s;
		-ms-transition: 1.5s all ease-in-out .1s;
		-o-transition: 1.5s all ease-in-out .1s;
		transition: 1.5s all ease-in-out .1s;
	}

	&.active .hero {
		opacity: 1;
		-webkit-transition: 1.5s all ease-in-out .1s;
		-moz-transition: 1.5s all ease-in-out .1s;
		-ms-transition: 1.5s all ease-in-out .1s;
		-o-transition: 1.5s all ease-in-out .1s;
		transition: 1.5s all ease-in-out .1s;
	}
}

/********************************/
/*            Overlay           */
/********************************/
/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: #080d15;
	opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
/*noinspection CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol*/

.btn {
	&.btn-lg {
		padding: 20px 60px;
	}

	&.btn-hero {
		color: #ffffff;
		background-color: transparent;
		border-color: #ffffff;
		outline: none;
		margin: 0;
		border-radius: 50px;
		font-size: 20px;
		font-weight: 900;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.hero .btn-hero:hover {
	border-color: rgb(143, 20, 3) !important;
	background-color: rgb(143, 20, 3);
	color: #fff;
	transition: all ease 0.5s 0s;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
/*noinspection CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol*/

.fade-carousel .slides {
	.slide-1, .slide-2, .slide-3 {
		height: 135vh;
		background-size: cover;
		background-position: 0 60px;
	}

	.slide-1 {
		background-image: url(../images/Skup_opt.png);

		/* Background image is centered vertically and horizontally at all times */
		background-position: top 60px center;

		/* Background image doesn't tile */
		background-repeat: no-repeat;

		/* Background image is fixed in the viewport so that it doesn't move when
           the content's height is greater than the image's height */
		background-attachment: fixed;

		/* This is what makes the background image rescale based
           on the container's size */
		background-size: cover;
	}

	@media (max-width: 600px) {
		.slide-1 {
			background-image: url(../images/SkupMobile.jpg);
			background-size: 100% auto;

		}
	}
}

.item.slides:before {
	background: rgba(0, 0, 0, 1);
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.3;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

/********************************/
/*          Media Queries       */
/********************************/
@media (min-width: 980px) and (max-width: 1200px) {
	.hero {
		width: 980px;
		left: 60%;
	}
}

@media screen and (max-width: 640px) {
	.hero h1 {
		font-size: 4em;
	}
}

/*
---------------------------------------------
About Us
---------------------------------------------
*/

.about_sec {
	position: relative;
	padding: 60px 0 60px;
	background: #ffffff;
}

.priceList-sale {
	padding-top: 10px;
	font-size: 30px !important;
}

@media only screen and (max-width: 600px) {
	.pb {
		padding-bottom: 25px;
	}
}

#about-telephone a {
	color: rgb(143, 20, 3);
}

#about-form a {
	color: rgb(143, 20, 3);
	text-decoration: underline;

	&:hover {
		color: rgb(182, 26, 4);
		text-shadow: 0 0 4px rgb(182, 26, 4);
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}
}

.abt_left .img-wrap img {
	display: inline-block;
	vertical-align: top;

	&:last-child {
		margin: 20px 0 0 6px;
	}
}

.abt_right {
	padding: 50px 20px 5px 20px;
}

.about_sec {

	.abt_right .title {
		color: #000;
		display: block;
		font-size: 30px;
		font-weight: bold;
		line-height: 100%;
		margin-bottom: 40px;
		text-align: left;
		text-transform: uppercase;
		position: relative;
		z-index: 1;
		vertical-align: top;
	}
}

.caption-wrap h1::before, h2.title:before {
	content: "";
	height: 191px;
	left: -34px;
	position: absolute;
	top: -26px;
	width: 189px;
	z-index: -1;
}

div h2.title {
	color: #000;

	span {
		color: #000;
	}
}

.caption-wrap span, h2.title span {
	color: #fff;
	display: block;
	font-size: 90px;
	font-weight: 800;
	line-height: 110%;
	margin-bottom: 0;
	position: relative;
	text-transform: uppercase;
}

.abt_right p {
	font-size: 19px;
	font-weight: 500;
}

img {
	border: 0 none;
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
	display: block;
	margin: 0 auto;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol*/

.slider::after, .course_sec:after, .video_sec:after {
	background-size: 100% 214px;
	bottom: 0;
	content: "";
	height: 214px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	width: 100%;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.course_sec .view-all {
	position: absolute;
	right: 0;
	top: 48px;
	z-index: 1;

	a {
		&:hover {
			color: #fff;
		}

		color: rgb(143, 20, 3);
	}
}

.view-all a {
	color: #fff;
	font-size: 20.2px;
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;
}

.course_sec .container {
	position: relative;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.img_course1 {
	-webkit-clip-path: polygon(18.3% 0, 100% 0, 100% 100%, 0 100%, 0 29%);
	clip-path: polygon(18.3% 0, 100% 0, 100% 100%, 0 100%, 0 29%);

	&:before {
		background-color: rgba(252, 112, 1, 0.5);
		content: "";
		display: block;
		height: 100%;
		opacity: 0;
		position: absolute;
		right: 0;
		overflow: hidden;
		width: 100%;
		transition: all ease 0.5s 0s;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.course_box1:before {
	background-color: rgb(143, 20, 3);
	content: "";
	height: 105px;
	left: 54px;
	position: absolute;
	top: -13px;
	transform: rotate(45deg);
	width: 5px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.inner_classes .course_box1:before {
	background-color: rgb(143, 20, 3);
	content: "";
	height: 105px;
	left: 41px;
	position: absolute;
	top: -13px;
	transform: rotate(45deg);
	width: 5px;
}

.diagnosticModal {

	.modal-dialog {
		color: #981a04 !important;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

#filter_box {
	text-align: center;
	list-style: none;
	width: -moz-max-content;
	border-radius: 30px;
	margin: auto;
	width: max-content;

	li {
		display: inline;
		margin: 2px;
		background: #f3f3f3;
		padding: 10px 10px;
		border-radius: 30px;

		&:hover {
			background: #ff7000;
		}
	}

	a:hover {
		color: #fff;
		transition: all ease 0.5s 0s;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.inner_classes a.course_read {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	opacity: 0;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.coueses-box {
	position: relative;
	float: left;
	overflow: hidden;
	padding-left: 0;
	max-height: 280px;
	margin: 22px 10px;
	padding: 0;
	max-width: 360px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.inner_classes a.course_read {
	top: 40%;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

#filter_box {
	text-align: center;
	list-style: none;
	width: -moz-max-content;
	border-radius: 30px;
	margin: auto;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.course_box1:hover .img_course1:before {
	opacity: 1;
}

.course_con1 h3 {
	font-size: 25px;
	font-weight: 600;
	line-height: 25px;
	margin-top: 20px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
}

.course_box1 {
	&:hover .course_con1 h3 {
		color: rgb(143, 20, 3);
	}

	margin: 10px 0px 60px 15px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.img_course1 {
	max-width: 100%;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

a.course_read {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	position: absolute;
	top: 35%;
	text-align: center;
	width: 90%;
	opacity: 0;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.course_box1:hover a {
	&.course_read {
		opacity: 1;
	}

	&:hover.course_read {
		color: #fff;
		cursor: pointer;
		opacity: 0.8;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.course_sec_img {
	float: left;
	position: absolute;
	left: -29px;
}

.course_sec_title {
	h2 {
		font-size: 90px;
		font-weight: 900;
		text-transform: uppercase;
		color: #fff;
	}

	p {
		font-size: 40px;
		color: #fff;
		font-weight: 300;
		text-transform: uppercase;
		margin-top: 12px;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.title_box_course {
	margin-bottom: 80px;
}

.view_all {
	a {
		font-size: 20px;
		color: rgb(143, 20, 3);
		font-weight: 800;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		text-decoration: underline;
	}

	margin-top: 190px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.trainer_icon {
	text-align: center;
	list-style: none;

	li {
		display: inline;
		border: 3px solid black;
		margin: 2px;
		padding: 5px;
		background: #666;
	}

	a {
		text-decoration: none;
		font-family: sans-serif;
		font-weight: bold;
		color: #fff;
	}
}

/*
---------------------------------------------
Trainer
---------------------------------------------
*/

.Trainer_sec {
	position: relative;
	margin-bottom: 40px;

	.owl-theme .owl-dots {
		margin-top: 0;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.title-right {
	clear: both;
	float: right;
	margin-bottom: 48px;
}

.Trainer_sec {
	.title-right {
		margin-bottom: 40px;
	}

	.trainers-list {
		img {
			margin-top: 1px;
		}

		.item {
			margin: 30px auto;
			margin-left: 16px;
		}
	}
}

.trainers-list {
	.owl-carousel {
		display: block;
	}

	ul li {
		margin-bottom: 0;
	}
}

.Trainer_sec {
	.container {
		position: relative;

		.view-all {
			position: absolute;
			z-index: 1;
			top: 130px;

			a {
				color: rgb(143, 20, 3);
			}
		}
	}

	.owl-carousel .owl-stage-outer {
		width: 100%;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.trainer-img .footer-social ul li {
	float: left;
	width: auto;
}

.footer-social ul li {
	display: inline-block;
	float: none;
	margin-right: 5px;
	vertical-align: top;
}

.trainer-img .footer-social ul li a i {
	background-color: #fff;
	border-radius: 50%;
	color: rgb(143, 20, 3);
}

.footer-social ul li a i {
	font-size: 30px;
	height: 50px;
	line-height: 50px;
	width: 50px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	text-align: center;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.trainer-desc span {
	&.trainer-name {
		color: rgb(143, 20, 3);
		font-size: 30px;
		margin: 27px 0 14px;
	}

	display: block;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;

	&.trainer-designation {
		color: #000;
		font-size: 16px;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.img_trainer {
	-webkit-clip-path: polygon(19% 0, 100% 0, 100% 100%, 0 100%, 0 13.7%);
	clip-path: polygon(19% 0, 100% 0, 100% 100%, 0 100%, 0 13.7%);

	&:before {
		background-color: rgba(143, 20, 3, 0.5);
		content: "";
		display: block;
		height: 100%;
		opacity: 0;
		position: absolute;
		right: 0;
		overflow: hidden;
		width: 100%;
		transition: all ease 0.5s 0s;
	}
}

.trainer_box {
	&:before {
		background-color: rgb(143, 20, 3);
		content: "";
		height: 110px;
		left: 44px;
		position: absolute;
		top: 6px;
		transform: rotate(45deg);
		width: 5px;
	}

	&:hover .img_trainer:before {
		opacity: 1;
	}
}

.trainer_con {
	h3 {
		font-size: 30px;
		font-weight: 600;
		line-height: 25px;
		margin-top: 20px;
		color: rgb(143, 20, 3);
		text-align: center;
		text-transform: uppercase;
	}

	p {
		font-size: 16px;
		line-height: 25px;
		color: #000000;
		font-weight: 600;
		text-align: center;
		margin-top: 10px;
		text-transform: uppercase;
	}
}

.trainer_box:hover .footer-social1 {
	opacity: 1;
}

#slider3 img {
	width: auto;
}

/*
---------------------------------------------
Gallery
---------------------------------------------
*/

.gallery .item {
	transition: all 0.5s ease 0s;
	position: relative;

	a {
		display: block;

		img {
			width: 100%;
			filter: grayscale(100);
		}

		i {
			position: absolute;
			font-size: 50px;
			color: #fff;
			cursor: pointer;
			top: 45%;
			left: 45%;
			opacity: 0;
			transition: all 0.5s ease 0s;
			z-index: 5;
		}
	}

	&:hover a img {
		filter: grayscale(0);
	}

	&:before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background: rgb(143, 20, 3);
		top: 0;
		left: 0;
		opacity: 0;
		transition: all 0.5s ease 0s;
		z-index: 4;
	}

	&:hover {
		&:before {
			opacity: 0.5;
		}

		a i {
			opacity: 1;
		}
	}
}

figcaption {
	display: none;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.gallery {
	margin-bottom: -10px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.gallery-title {
	font-size: 36px;
	color: #42B32F;
	text-align: center;
	font-weight: 500;
	margin-bottom: 70px;

	&:after {
		content: "";
		position: absolute;
		width: 7.5%;
		left: 46.5%;
		height: 45px;
		border-bottom: 1px solid #5e5e5e;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.filter-button {
	margin: 7px;
	padding: 10px 20px 10px 20px;
	background: #f3f3f3;
	border: none;
	border-radius: 40px;
	font-weight: 600;
	text-transform: uppercase;

	&:hover {
		background: rgb(143, 20, 3);
		color: #fff;
		transition: all ease 0.5s 0s;
	}

	&:active {
		background: rgb(143, 20, 3);
		color: #fff;
		transition: all ease 0.5s 0s;
		outline: none !important;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.port-image {
	width: 100%;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.img_course1 {
	-webkit-clip-path: polygon(18.3% 0, 100% 0, 100% 100%, 0 100%, 0 28.6%);
	clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%, 0 28.6%);
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

section.inner_classes {
	margin-top: 60px;
	min-height: 1000px;
}

.inner_classes .course_con1 h3 {
	font-size: 25px;
	font-weight: 700;
	line-height: 25px;
	margin-top: 20px;
	color: #272727;
	text-align: center;
	text-transform: uppercase;
}

/*
---------------------------------------------
blog
---------------------------------------------
*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blog_sec {
	position: relative;
	margin: 100px 0 20px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blog_sec1 {
	margin: 100px 0 20px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blog_sec .blog_list {
	ul li p {
		&.blog-title {
			font-size: 20px;
			font-weight: bold;
			margin-top: 20px;
			color: #000000;
		}

		color: #757575;
		font-size: 16px;
		margin-bottom: 15px;
		text-align: left;
	}

	img {
		margin-top: 1px;
	}

	.item {
		margin: 30px auto;
		margin-left: 20px;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.overlay {
	position: absolute;
	bottom: 0;
	height: 750px;
	left: -85px;
	top: -70px;
	width: 750px;
	right: 0;
	background-color: rgba(143, 20, 3, 0.5);
	overflow: hidden;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: .3s ease;
	transition: .3s ease;
	opacity: 1;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blog_sec {
	.item:hover {
		.overlay {
			-webkit-transform: rotate(-45deg) scale(1);
			-ms-transform: rotate(-45deg) scale(1);
			transform: rotate(-45deg) scale(1);
			transform: rotate(-45deg);
		}

		p.blog-title {
			color: rgb(143, 20, 3);
			-webkit-transition: .3s ease;
			transition: .3s ease;
		}
	}

	.owl-theme .owl-dots {
		margin-top: 0;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

a.accordion-toggle {
	color: #272727;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.img_blog {
	-webkit-clip-path: polygon(22% 0, 100% 0, 100% 100%, 0 100%, 0 22%);
	clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%, 0 29%);

	&:before {
		background-color: rgba(252, 112, 1, 0.5);
		content: "";
		display: block;
		height: 100%;
		opacity: 0;
		position: absolute;
		right: 0;
		overflow: hidden;
		width: 100%;
		transition: all ease 0.5s 0s;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blog_box {
	&:before {
		background-color: rgb(143, 20, 3);
		content: "";
		height: 110px;
		left: 39px;
		position: absolute;
		top: -24px;
		transform: rotate(45deg);
		width: 5px;
	}

	&:hover .img_blog:before {
		opacity: 1;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blog_con {
	h3 {
		margin-top: 10px;

		a {
			font-size: 17px;
			font-weight: 600;
			line-height: 25px;
			margin-top: 20px;
			color: #000000;
		}
	}

	p {
		font-size: 15px;
		line-height: 25px;
		color: #828282;
		margin-top: 15px;
	}
}

.blog_box {
	&:hover .blog_con h3 a {
		color: rgb(143, 20, 3);
	}

	margin: 0px 0px 0px 15px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blog_intro .info p {
	font-style: italic;
	font-size: 16px;
	color: #959595;

	span {
		margin-right: 30px;

		i {
			color: rgb(143, 20, 3);
			margin-right: 0px;
		}

		a {
			color: #6e6e6e;

			&:hover {
				color: rgb(143, 20, 3);
			}
		}
	}
}

/*
---------------------------------------------
footer
---------------------------------------------
*/

.main-footer {
	margin-top: -8px;
}

.footer {
	background: url(../images/footer_bg.png) no-repeat;
	background-size: cover;
	background-position: center top;
	position: relative;
	text-align: center;
	padding-bottom: 98px;
	padding-top: 80px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.submit_icon {
	padding: 19px;
	margin-left: -5px;
	border-left: none;
	height: 50px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	width: 60px;
}

@-moz-document url-prefix() {
	/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

	.submit_icon {
		border: none;
		border: 1px solid #fff;
		padding: 11px;
		margin-left: -5px;
		border-left: none;
		height: 50px;
		padding-top: 10px;
		padding-left: 0px;
		padding-right: 0px;
		width: 60px;
	}
}

.footer .container {
	position: relative;
}

.footer-logo {
	padding-bottom: 20px;
}

.footer-menu {
	text-align: center;
	margin: 55px 0;

	ul {
		border-bottom: 1px solid rgb(143, 20, 3);
		border-top: 1px solid rgb(143, 20, 3);
		display: inline-block;
		vertical-align: middle;

		li {
			display: inline-block;
			vertical-align: middle;
			margin-right: 43px;

			&.active a {
				color: rgb(143, 20, 3);
			}

			a {
				color: #fff;
				display: block;
				font-size: 16px;
				font-weight: bold;
				line-height: 52px;
				text-transform: uppercase;

				&:hover {
					color: rgb(143, 20, 3);
					transition: all ease 0.5s 0s;
				}
			}
		}
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.footer-mail {
	margin-bottom: 50px;

	input[type="email"] {
		color: #fff;
		font-size: 15px;
		font-family: 'Raleway', sans-serif;
		line-height: 100%;
		padding: 15px;
		text-align: left;
		width: 310px;
		background-position: 92%;
		border: 1px solid #fff;
		background-color: transparent;
		border-right: none;
		height: 50px;
	}
}

.social.footer-social {
	margin-bottom: 45px;
}

.footer-social {
	span {
		color: #fff;
		display: block;
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 28px;
		text-transform: uppercase;
	}

	ul li {
		display: inline-block;
		float: none;
		margin-right: 5px;
		vertical-align: top;

		a i {
			font-size: 20px;
			height: 45px;
			line-height: 45px;
			width: 45px;
			transition: all 0.5s ease 0s;
			-moz-transition: all 0.5s ease 0s;
			-webkit-transition: all 0.5s ease 0s;
			-ms-transition: all 0.5s ease 0s;
			-o-transition: all 0.5s ease 0s;
		}
	}
}

.trainer-img .footer-social ul li a i:hover {
	background-color: #000;
	color: rgb(143, 20, 3);
}

.social ul li a i {
	background-color: #fff;
	border-radius: 50%;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	line-height: 41px;
	position: relative;
	text-align: center;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	width: 40px;

	&:hover {
		background-color: rgb(143, 20, 3);
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.conatct-us {
	background: url(../images/contact_bg.png) no-repeat;
	background-size: cover;
	background-position: center top;
	padding: 48px 43px 65px;
	position: absolute;
	right: 0;
	top: -460px;
	width: 390px;

	&:before {
		background: rgba(0, 0, 0, 0.5);
		content: "";
		left: 0;
		opacity: 0.7;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	h2 {
		color: #fff;
		font-size: 43px;
		font-weight: 800;
		margin-bottom: 13px;
		text-transform: capitalize;
	}

	p {
		border-bottom: 1px solid #fff;
		margin-bottom: 10px;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.footer {
	input::placeholder, textarea::placeholder {
		color: #ffffff;
	}
}

.conatct-us form {
	input {
		background: transparent;
		border: 1px solid transparent;
		color: #fff;
		display: block;
		font-size: 16px;
		font-family: 'Raleway', sans-serif;
		line-height: 50px;
		width: 100%;
		position: relative;
	}

	textarea {
		background: transparent;
		border: 1px solid transparent;
		color: #fff;
		display: block;
		font-size: 16px;
		font-family: 'Raleway', sans-serif;
		line-height: 50px;
		width: 100%;
		position: relative;
		resize: none;
		height: 52px;
		overflow: hidden;
	}

	.submitbtn {
		cursor: pointer;
		display: inline-block;
		font-size: 15px;
		font-weight: bold;
		line-height: 100%;
		text-transform: uppercase;
		vertical-align: top;
		width: auto;
		border: 1px solid rgb(143, 20, 3);
		padding: 15px 40px;
		border-radius: 30px;
		margin-top: 15px;

		&:hover {
			color: #ffffff;
		}
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.copyright-text {
	p {
		margin-bottom: 10px;
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;
	}

	span {
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;

		a {
			color: #fff;
			font-size: 16px;
			text-transform: uppercase;
		}
	}
}

.contact_form .title_box .title {
	margin-bottom: 50px;
}

/*
---------------------------------------------
Inner page title
---------------------------------------------
*/
/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.breadcrumb_sec {
	height: 530px;
	background-repeat: no-repeat;
	background-size: cover;

	&:before {
		background: rgba(0, 0, 0, 0.5);
		content: "";
		height: 530px;
		left: 0;
		opacity: 0.7;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blogpage3 {
	.main-header .header-top {
		border-bottom: 2px solid #ffffff5c;
	}

	h2.title span {
		font-weight: 900;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blog_txt {
	margin: 0 auto;
	padding-top: 225px;
	text-align: left;
	text-transform: uppercase;
	color: #ffffff;

	h1 {
		font-size: 90px;
		font-weight: 900;
		color: #ffffff;
	}

	h3 {
		color: #ffffff;
		font-size: 40px;
		font-weight: 300;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.page_banner_img {
	float: left;
	position: absolute;
	left: -29px;
	top: 230px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.title_box_page {
	margin-top: 250px;
}

.page_banner_title {
	h2 {
		font-size: 90px;
		font-weight: 900;
		text-transform: uppercase;
		color: #fff;
	}

	p {
		font-size: 40px;
		color: #fff;
		margin-top: 12px;
	}
}

/*
---------------------------------------------
blog_seaction
---------------------------------------------
*/
/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blog_main_sec {
	position: relative;
	padding: 40px 0 60px;
	background: #ffffff;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blogpage3 .blog_main_img:before {
	background-color: rgb(143, 20, 3);
	content: "";
	height: 150px;
	left: 30px;
	position: absolute;
	top: -40px;
	transform: rotate(45deg);
	width: 5px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blogplay {
	position: absolute;
	max-width: 70px;
	top: 45%;
	left: 45%;
	z-index: 0;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.input-group .form-control {
	z-index: 0;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blogplay:hover {
	background-image: url(../images/Playbg.png);
	cursor: pointer;
}

.blogby a {
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	padding-right: 20px;
	color: #272727;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blog_main_img .dd-mm {
	position: absolute;
	z-index: 1;
	color: #000;
	top: 0;
	left: -10px;

	span {
		color: #000;
		transform: scale(1);
		opacity: 1;
		top: auto;
		text-decoration: none;
		font-size: 22px;
		text-transform: none;
	}

	.month {
		font-size: 15px;
		font-weight: 400;
		left: -2px;
		top: 22px;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blog_intro .fa {
	font-size: 20px;
	padding-right: 10px;
}

.breadcrumb_sec .blog_main_sec article {
	padding: 20px 0;
}

/*noinspection CssInvalidPropertyValue,CssInvalidPropertyValue*/

.blog_title a {
	font-weight: 700;
	color: #000;
	margin-bottom: 12px;
	font-size: 20px;
	transition: all ease 0.5 0s;
	z-index: 9999;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

h3.blog_title {
	margin-bottom: 10px;
}

.blog_main_sec .upload_info .fa {
	color: #82b53f;
}

/*noinspection CssInvalidPropertyValue,CssInvalidPropertyValue*/

.blog_detail:hover .blog_title a {
	color: rgb(143, 20, 3);

	/*noinspection CssInvalidPropertyValue*/
	transition: all ease 0.5 0s;
}

.upload_info span {
	color: #323232;
	padding-right: 20px;
}

.blog_detail {
	img {
		width: 100%;
		-webkit-clip-path: polygon(9.8% 0, 100% 0, 100% 100%, 0 100%, 0 17.7%);
		clip-path: polygon(9.8% 0, 100% 0, 100% 100%, 0 100%, 0 17.7%);
	}

	padding: 20px 0;
	padding-bottom: 70px;
	border-bottom: 1px solid #dbdbdb;

	&:nth-child(3) {
		border-bottom: 3px solid rgb(143, 20, 3);
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blogpage3 .blog_main_img {
	max-height: 400px;
	overflow: visible;
	margin: 30px 0;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blog_pera {
	text-align: justify;
	color: #000;
	line-height: 28px;
	font-weight: 500;
}

.read_social {
	.row {
		margin-right: -15px;
		margin-left: -15px;
		margin-top: 10px;
	}

	.pull-left a {
		color: #000;
		font-weight: 900;
		text-transform: uppercase;
		font-size: 15px;

		&:hover {
			opacity: 0.6;
		}
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.pull-left a:hover i.fa.fa-arrow-right {
	padding-left: 5px;
}

.read_social {
	.pull-left .fa {
		padding-left: 5px;
		color: rgb(143, 20, 3);
	}

	.pull-right {
		.fa {
			color: #ffffff;
			vertical-align: middle;
			font-size: 20px;

			/*padding: 6px 0;*/
		}

		.fa-bell {
			font-size: 18px;
		}
	}

	.txt {
		font-size: 15px;
		font-family: 'Lato', sans-serif;
		margin-right: 10px;
	}

	.pull-right .circle {
		background: #e5e5e5;
		text-align: center;
		padding: 3px 4px;
		border-radius: 30px;
		margin-right: 10px;
		display: inline-block;
		width: 32px;
		height: 32px;
		vertical-align: middle;

		&:hover {
			background: rgb(143, 20, 3);
		}
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*paggination*/
/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.pagination {
	display: inline-block;
	margin: 15px 0;
}

.pull-right.pagination {
	a {
		color: #000;
		background: transparent;
		font-size: 17px;
		padding: 2px 11px;
	}

	span {
		float: left;
		padding: 2px 10px;
		margin: 0;
	}

	.active {
		border: 2px solid rgb(143, 20, 3);
		border-radius: 30px;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol*/

.pagination {
	.pre, .next {
		background-color: transparent;
		color: #000;
		text-transform: uppercase;
		font-weight: 500;
		padding: 0;
		line-height: 16px;
	}

	.pre {
		border-right: 1px solid;
		padding-right: 10px;
	}

	a {
		color: #7e7e7e;
		float: left;
		padding: 8px 16px;
		text-decoration: none;
		transition: background-color .3s;
		margin: 0 4px;
		background-color: #f3f3f3;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*paggination*/

/*right section*/
/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blog_left {
	padding-right: 35px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.blog_right {
	padding-left: 35px;
	margin-top: 30px;

	.blog_title {
		color: #ffffff;
		text-transform: uppercase;
		font-weight: 800;
		background: rgb(143, 20, 3);
		margin-bottom: 0;
		padding: 20px;
		font-size: 22px;
	}

	article {
		padding: 20px 0;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*
---------------------------------------------
search
---------------------------------------------
*/
/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.search_blog {
	margin-top: 0px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.input-group {
	padding: 3px;
	border: solid 1px #f0f0f2;
	background-color: transparent;
}

.search_blog input {
	&::placeholder {
		color: #000000;
		font-size: 17px;
	}

	border: 0;
	box-shadow: none;
	font-size: 17px;
	padding: 6px 15px;
	height: 60px;
	padding-left: 25px;
	background: transparent;
	color: #000000;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.form-control:focus {
	border: none;
	border-color: transparent;
	box-shadow: none;
}

.search_blog button {
	margin: 2px 0 0 0;
	background: none;
	box-shadow: none;
	border: 0;
	color: #000;
	padding: 0 8px 0 10px;
	padding-right: 25px;
	font-size: 20px;

	&:hover {
		color: rgb(143, 20, 3);
		background-color: transparent;
		border-color: transparent;
	}
}

/*
---------------------------------------------
Categories_blog
---------------------------------------------
*/

.Categories_blog .cat_list {
	a {
		color: #000000;
	}

	padding: 5px;
	background: #f0f0f0;
	border-top: 1px solid #dbdbdb;
	font-weight: 500;

	&:hover a, &.active a, &:focus a {
		color: rgb(143, 20, 3);
		cursor: default;
	}

	.fa {
		font-size: 17px;
		padding: 0 12px;
		color: rgb(143, 20, 3);
		background: none;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*
---------------------------------------------
Recent Articles
---------------------------------------------
*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.articles_blog .art_list {
	padding: 5px;
	background: #f0f0f0;
	border-top: 1px solid #dbdbdb;
	font-weight: 500;

	a {
		color: #000000;
	}

	&:hover a, &.active a, &:focus a {
		color: rgb(143, 20, 3);
		cursor: default;
	}

	.fa {
		font-size: 17px;
		padding: 0 12px;
		background: none;
		color: rgb(143, 20, 3);
	}
}

/*
---------------------------------------------
schedule
---------------------------------------------
*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.accordion-toggle:hover {
	text-decoration: none;
}

.Schedule_blog {
	.fa {
		color: rgb(143, 20, 3);
		font-size: 20px;
		vertical-align: middle;
		padding-right: 5px;
	}

	.fa-angle-up {
		color: transparent;
	}

	.panel-heading {
		color: #000;
		background-color: transparent;
		border-color: transparent;
		padding: 15px 15px;

		.panel-title a {
			color: #000;
			font-weight: 500;
			font-size: 17px;
		}
	}

	.panel-group {
		.panel-heading + .panel-collapse > {
			.list-group, .panel-body {
				border-top: none;
				padding: 0 30px;
			}
		}

		margin-bottom: 0;
	}

	.panel-body {
		border-top: none;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.panel-body img {
	width: 25px;
	display: inline-block;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.timedetail {
	padding: 6px 0;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol*/

.Schedule_blog {
	.panel-group, .panel {
		background: #f0f0f0;
	}

	.collapse.in {
		margin-bottom: 30px;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*tags*/
/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.tags_blog .tag_list {
	margin: 30px 0;

	.tags a {
		color: #ababab;
	}
}

/*right section*/

/*-------blog main end ---------*/
@media screen and (min-width: 1169px) {
	.blogpage3 .row {
		margin-right: -15px;
		margin-left: -15px;
	}
}

/*
---------------------------------------------
blog page
---------------------------------------------
*/

.navbar-toggle {
	margin-right: 0px;
}

.about_sec .title {
	color: #000;
	display: block;
	font-size: 40px;
	font-weight: lighter;
	line-height: 100%;
	margin-bottom: 40px;
	text-align: left;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: top;
	font-weight: 400;
}

.caption-wrap h1::before, h2.title:before {
	content: "";
	height: 191px;
	left: -34px;
	position: absolute;
	top: -26px;
	width: 189px;
	z-index: -1;
}

.about_inner_page_con {
	h2.title span {
		color: #000 !important;
		font-weight: 900;
	}

	p {
		font-size: 19px;
		font-weight: 500;
		margin-bottom: 30px;
		margin-top: 20px;
	}
}

.about_img img {
	float: left;
}

.about_inner_page_con {
	margin-top: 70px;
}

.projectFactsWrap .item {
	width: 25%;
	height: 100%;
	padding: 50px 0px;
	text-align: center;
}

.achievements_box p {
	color: #ffffff;
	font-size: 20px;
	margin: 0;
	padding-top: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
}

.projectFactsWrap .item {
	span {
		width: 60px;
		background: rgba(255, 255, 255, 0.8);
		height: 2px;
		display: block;
		margin: 0 auto;
	}

	i {
		vertical-align: middle;
		font-size: 50px;
		color: rgba(255, 255, 255, 0.8);
	}

	&:hover span {
		background: white;
	}
}

@media (max-width: 786px) {
	.projectFactsWrap .item {
		flex: 0 0 50%;
	}
}

.title_box {
	.title {
		color: #000;
		display: block;
		font-size: 40px;
		font-weight: lighter;
		line-height: 100%;
		margin-bottom: 30px;
		text-align: left;
		text-transform: uppercase;
		position: relative;
		z-index: 1;
		display: inline-block;
		vertical-align: top;
		font-weight: 400;
	}

	p {
		font-size: 19px;
		font-weight: 500;
		margin-bottom: 30px;
		margin-top: 0px;
	}
}

.client_name {
	p {
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
	}

	h5 {
		font-size: 15px;
		color: #000000;
		letter-spacing: 0.5px;
		line-height: 31px;
		text-align: center;
		margin-top: 10px;
		padding-left: 40px;
		padding-right: 40px;
	}
}

#testimonials_slider .owl-item img {
	width: auto !important;
	border-radius: 100px;
	border: 3px solid rgb(143, 20, 3);
}

i.fa {
	&.fa-angle-left {
		background-color: rgb(143, 20, 3);
		color: #fff;
		height: 40px;
		padding-left: 34%;
		width: 40px;
		font-size: 27px;
		line-height: 39px;
		border-radius: 50px;
	}

	&.fa-angle-right {
		background-color: rgb(143, 20, 3);
		color: #fff;
		height: 40px;
		padding-left: 40%;
		width: 40px;
		font-size: 27px;
		line-height: 39px;
		border-radius: 50px;
	}
}

@media only screen and (max-width: 760px) {
	.owl-prev {
		position: absolute;
		top: 8% !important;
		left: 73% !important;
	}

	.owl-next {
		position: absolute;
		top: 8% !important;
		right: -3% !important;
	}
}

@media (min-width: 1281px) {
	.owl-prev {
		position: absolute;
		top: -5% !important;
		left: 87% !important;
	}

	.owl-next {
		position: absolute;
		top: -5% !important;
		right: -1% !important;
	}
}

@media (min-width: 1025px) and (max-width: 1280px) {
	.owl-prev {
		position: absolute;
		top: -5% !important;
		left: 87% !important;
	}

	.owl-next {
		position: absolute;
		top: -5% !important;
		right: -1% !important;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.owl-prev {
		position: absolute;
		top: -5% !important;
		left: 87% !important;
	}

	.owl-next {
		position: absolute;
		top: -5% !important;
		right: -1% !important;
	}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.owl-prev {
		position: absolute;
		top: 10% !important;
		left: 65% !important;
	}

	.owl-next {
		position: absolute;
		top: 10% !important;
		right: -1% !important;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.owl-prev {
		position: absolute;
		top: 10% !important;
		left: 65% !important;
	}

	.owl-next {
		position: absolute;
		top: 10% !important;
		right: -1% !important;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.owl-prev {
		position: absolute;
		top: 10% !important;
		left: 65% !important;
	}

	.owl-next {
		position: absolute;
		top: 10% !important;
		right: -1% !important;
	}
}

/* 761 - 991*/
/* 1025 - 1199 */

.owl-theme .owl-nav [class*='owl-'] {
	color: #178097;
	font-size: 50px;
	margin: 0px;
	padding: 10px 15px !important;
	background: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
}

.title-right .about_inner_page_con {
	margin-top: 10px;
}

/*
---------------------------------------------
Classes
---------------------------------------------
*/

.portfolioFilter a {
	margin-right: 6px;
	color: #262626;
	text-decoration: none;
	padding: 8px 15px;
	border-radius: 50px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
}

.classes_box .course-list ul li {
	h3 {
		color: #000000;
		font-size: 27px;
		font-weight: 700;
	}

	float: left;
	margin-right: 0%;
	margin-bottom: 60px;
	text-align: center;
	width: 33%;
}

#filter_menu {
	li {
		display: inline;
		margin: 7px;
		padding: 10px 5px 10px 5px;
		background: #f3f3f3;
		border-radius: 20px;
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 15px;
		color: #040404;
	}

	li:hover {
		background: rgb(143, 20, 3);

		a {
			color: #fff;
		}
	}
}

.error_con {
	h1 {
		font-size: 35px;
		color: #fff;
		font-weight: bold;
		letter-spacing: 1px;
		margin-top: 60px;
		text-transform: uppercase;
	}

	p {
		font-size: 16px;
		line-height: 30px;
		margin-top: 45px;
		margin-bottom: 45px;
		opacity: 0.8;
	}
}

.error_copy p {
	font-size: 15px;
	position: fixed;
	bottom: 0px;
	text-align: center;
	color: #fff;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}

.inner_classes .course-list ul li {
	padding: 15px;
}

/*
---------------------------------------------
Comeing Soon
---------------------------------------------
*/

header {
	position: absolute;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	color: #fff;
	transform: translate(-50%, -50%);
	font-family: 'Lato', sans-serif;
}

.comeing_con h1 {
	font-size: 60px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 60px;
	text-transform: uppercase;
}

.error_con p {
	font-size: 16px;
	line-height: 30px;
	margin-top: 45px;
	margin-bottom: 45px;
	opacity: 0.8;
}

.error_copy p {
	font-size: 15px;
	position: fixed;
	bottom: 0px;
	text-align: center;
	color: #fff;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}

.comeing_con p {
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 10px;
}

.text {
	margin-bottom: 20px;
}

.subscribe_box h2 {
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.5px;
}

#comeing_soon_icon {
	li {
		display: inline;
		margin: 2px;
	}

	a {
		text-decoration: none;
		font-family: sans-serif;
		font-weight: bold;
		color: #fff;
		font-variant: small-caps;
	}

	i {
		height: 45px;
		width: 45px;
		background-color: rgb(143, 20, 3);
		font-size: 21px;
		border-radius: 50px;
		line-height: 45px;

		&:hover {
			background-color: #fff;
			color: rgb(143, 20, 3);
			transition: all 0.5s 0s;
		}
	}
}

.discount_title h1 {
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 50px;
	margin-top: 25px;
	margin-bottom: 25px;
}

/*
---------------------------------------------
contact
---------------------------------------------
*/

.location_address p {
	font-size: 17px;
	color: #2e3438;
	letter-spacing: 0.5px;
	line-height: 30px;
	font-weight: 600;

	a {
		font-size: 17px;
		color: #2e3438;
		letter-spacing: 0.5px;
		line-height: 30px;
		font-weight: 600;
	}
}

.contact_form {
	margin-top: 10px;
	margin-bottom: 80px;
}

.contact_form_detail {
	width: 100%;
	height: 45px;
	padding-left: 15px;
	border-radius: 5px;
	border: 1px solid #b7b7b7;
	background-color: #fff;
	color: #b7b7b7;

	&:hover, &:focus {
		border: 1px solid rgb(143, 20, 3);
		outline: none;
		transition: all ease 0.5s 0s;
		box-shadow: 3px 4px 15px 0px rgba(211, 211, 211, 0.75);
	}
}

.contact_form_detail1 {
	width: 100%;
	height: 120px;
	padding-left: 15px;
	padding-top: 15px;
	border-radius: 5px;
	border: 1px solid #b7b7b7;
	background-color: #fff;
	color: #b7b7b7;
	margin-top: 30px;

	&:hover, &:focus {
		border: 1px solid rgb(143, 20, 3);
		outline: none;
		transition: all ease 0.5s 0s;
		box-shadow: 3px 4px 15px 0px rgba(211, 211, 211, 0.75);
	}
}

.submit_btn_box {
	text-align: center;
	margin-top: 30px;
}

.submit_btn {
	color: #fff;
	background: rgb(143, 20, 3);
	padding: 11px 38px;
	border-radius: 60px;
	border: none;
	text-transform: uppercase;
	transition: all ease 0.5s 0s;
}

.tainers_box {
	margin-top: 70px;
	margin-bottom: 70px;

	li.item {
		width: 29.9%;
		float: left;
		margin: 20px;
		margin-bottom: 50px;
	}
}

.social_icon {
	text-align: center;
	list-style: none;
	margin-left: 27%;
	margin-top: -20px;

	li {
		display: inline;
		padding: 2px;
	}

	a {
		text-decoration: none;
		font-family: sans-serif;
		font-weight: bold;
		color: #737373;
		font-variant: small-caps;
		float: left;
		margin: 5px;
	}
}

.footer-social1 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	opacity: 0;
	position: absolute;
	text-transform: uppercase;
	top: 45%;
	z-index: 10;
	transition: all ease 0.5s 0s;
	width: 100%;
	opacity: 0;
}

li.item:hover .footer-social1 {
	opacity: 1;
}

iframe {
	width: 100%;
}

/*
---------------------------------------------
scroll to top
---------------------------------------------
*/

.scrollToTop {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 25px;
	line-height: 50px;
	z-index: 9999999;
	bottom: 25px;
	display: none;
	background: rgb(143, 20, 3);
	border-radius: 50px;
	text-align: center;
	color: white;
	font-size: large;
	transition: all 0.5s linear;
	text-decoration: none;
	-webkit-box-shadow: 0 0 15px 0 rgba(54, 54, 54, 0.3);
}

a.scrollToTop {
	&:hover, &:focus {
		text-decoration: none;
		background-color: #fff;
		color: #222;
		-webkit-box-shadow: 0 0 15px 0 rgba(54, 54, 54, 0.3);
		box-shadow: 0 0 15px 0 rgba(54, 54, 54, 0.3);
	}
}

/*
---------------------------------------------
trainer_page
---------------------------------------------
*/

.img_trainer1 {
	-webkit-clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%, 0 13%);
	clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%, 0 13%);

	&:before {
		background-color: rgba(143, 20, 3, 0.5);
		content: "";
		display: block;
		height: 100%;
		opacity: 0;
		position: absolute;
		right: 0;
		overflow: hidden;
		width: 100%;
		transition: all ease 0.5s 0s;
	}
}

.trainer_box1 {
	&:before {
		background-color: rgb(143, 20, 3);
		content: "";
		height: 110px;
		left: 40px;
		position: absolute;
		top: -22px;
		transform: rotate(45deg);
		width: 5px;
	}

	&:hover .img_trainer1:before {
		opacity: 1;
	}
}

.trainer_con1 {
	h3 {
		font-size: 30px;
		font-weight: 600;
		line-height: 25px;
		margin-top: 20px;
		color: rgb(143, 20, 3);
		text-align: center;
		text-transform: uppercase;
	}

	p {
		font-size: 16px;
		line-height: 25px;
		color: #000000;
		font-weight: 600;
		text-align: center;
		margin-top: 10px;
		text-transform: uppercase;
	}
}

.trainer_box1:hover .footer-social1 {
	opacity: 1;
}

.img_trainer1 img {
	width: 100%;
}

.inner_tainers .trainer_box1, .trainer_box1 {
	margin-bottom: 50px;
}

/*
---------------------------------------------
course_page
---------------------------------------------
*/
/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.img_course {
	-webkit-clip-path: polygon(19% 0, 100% 0, 100% 100%, 0 100%, 0 30%);
	clip-path: polygon(19% 0, 100% 0, 100% 100%, 0 100%, 0 30%);

	&:before {
		background-color: rgba(143, 20, 3, 0.5);
		content: "";
		display: block;
		height: 100%;
		opacity: 0;
		position: absolute;
		right: 0;
		overflow: hidden;
		width: 100%;
		transition: all ease 0.5s 0s;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.course_box {
	&:before {
		background-color: rgb(143, 20, 3);
		content: "";
		height: 110px;
		left: 42px;
		position: absolute;
		top: -14px;
		transform: rotate(45deg);
		width: 5px;
	}

	&:hover .img_course:before {
		opacity: 1;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.course_con h3 {
	font-size: 25px;
	font-weight: 700;
	line-height: 25px;
	margin-top: 20px;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
}

.course_box {
	&:hover .course_con h3 {
		color: rgb(143, 20, 3);
	}

	margin: 10px 0px 60px 15px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.img_course {
	max-width: 100%;

	img {
		width: 100%;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

#filter_menu {
	text-align: center;
	list-style: none;

	li {
		display: inline;
		margin: 7px;
		padding: 10px 20px 10px 20px;
		background: #f3f3f3;
	}

	a {
		text-decoration: none;
		color: #040404;
	}

	li:active {
		list-style: none;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.nav-item.active {
	text-decoration: none;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

ul#filter_menu {
	margin-top: 60px;
	margin-bottom: 50px;
}

#main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.portfolio {
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.project {
	position: relative;
	flex: 1 0 calc(100% - 20px);
	margin: 10px;

	&:hover .project-info {
		background: rgba(89, 89, 89, 0.7);
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

@media (min-width: 520px) {
	/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

	.project {
		flex: 0 0 calc((100% / 2) - 20px);
	}
}

@media (min-width: 860px) {
	/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

	.project {
		flex: 0 0 calc((100% / 3) - 20px);
	}
}

.project-image img {
	display: block;
	width: 100%;
	height: auto;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.project-info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	color: #f6f6f6;
	background: rgba(89, 89, 89, 0.8);
	opacity: 0;
	transition: all 350ms ease-in;

	&:hover {
		opacity: 1;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

@media (max-width: 520px) {
	/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

	.project-info {
		opacity: 0.8;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.project-info-title {
	margin: 0 0 0.5em;
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.project-info-button {
	padding: 0.5em 1em;
	color: inherit;
	text-decoration: none;
	border: 1px solid #f6f6f6;
	border-radius: 3px;
	transition: all 350ms;

	&:hover {
		color: #595959;
		background: #f6f6f6;
		border-color: #f6f6f6;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*
---------------------------------------------
Blog_detail_page
---------------------------------------------
*/
/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.ft-blog-post {
	.info {
		width: 100%;

		.title-info {
			padding-left: 84px;
		}
	}

	margin-top: 30px;

	.image {
		width: 100%;
		margin-bottom: 50px;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.single-blog-post .info {
	margin-bottom: 10px;
	overflow: hidden;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.ft-blog-post .info {
	.date-wrapper {
		float: left;
		width: 59px;
		min-height: 34px;
	}

	.date {
		color: rgb(143, 20, 3);
		font-weight: bold;
		text-align: left;
		float: left;
		width: 59px;
		height: 55px;
		border-right: 1px solid #cacaca;

		.post-date {
			line-height: 40px;
		}

		.post-month {
			float: left;
			width: 100%;
			margin-top: -7px;
			font-size: 20px;
			font-weight: 400;
		}
	}

	.title-info {
		.title {
			float: left;
			width: 100%;

			h2 {
				text-align: left;
				text-transform: uppercase;
				font-weight: 800;
				margin: -3px 0px 6px 0px;
				padding: 0px;
				font-size: 20px;
			}
		}

		.info {
			float: left;
			width: 100%;

			p {
				font-style: italic;
				font-size: 16px;
				color: #959595;

				span {
					margin-right: 30px;

					a {
						color: #6e6e6e;

						&:hover {
							color: rgb(143, 20, 3);
						}
					}

					i {
						color: rgb(143, 20, 3);
						margin-right: 10px;
					}
				}
			}
		}
	}

	.date {
		.post-date {
			float: left;
			width: 100%;
			font-weight: bold;
			font-size: 28px;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		.post-month {
			float: left;
			width: 100%;
			margin-top: -7px;
			font-size: 20px;
			font-weight: 400;
		}
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.main-content-box p {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
	margin-top: 0px;
	color: #777;
}

blockquote {
	border: 0 none;
	margin: 40px 0;
	padding: 35px;
	-webkit-border-radius: 4px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 4px;
	-moz-background-clip: padding;
	border-radius: 4px;
	background-clip: padding-box;
	background-color: #fafafa;
	position: relative;
	font-weight: 400;
	text-align: center;
	font-size: 16px;
	color: #171d29;
	color: var(--black);
	border: 2px solid #fafafa;
	border-bottom: 5px solid #ccc;

	p:first-child:before {
		content: "\"";
		font-weight: 800;
		font-style: normal;
		display: block;
		text-align: center;
		color: rgb(143, 20, 3);
		font-size: 64px;
		height: 28px;
		overflow: hidden;
		line-height: 1em;
		margin-top: -8px;
		margin-bottom: 15px;
	}
}

.main-content-box h3 {
	font-size: 20px;
	color: #000000;
	text-transform: capitalize;
	margin: 0;
	line-height: 26px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-top: 30px;
}

span.singletags a {
	color: #666;

	&:hover {
		color: rgb(143, 20, 3);
		transition: all ease 0.5s 0s;
	}
}

.text-box p a:hover {
	color: rgb(143, 20, 3);
	transition: all ease 0.5s 0s;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

span.singletags {
	font-size: 16px;
	font-weight: 500;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.tag-social-box {
	padding: 11px;
	border: 1px solid #eeeeee;
}

.social-box {
	ul {
		margin-bottom: 0;
	}

	li {
		display: inline-block;
	}
}

.tag-social-box .social-box a {
	font-size: 16px;
	padding: 10px;
	color: #222;

	&:hover {
		color: rgb(143, 20, 3);
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.mbottom30 {
	margin-bottom: 30px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.admin-info-box {
	background: #242424;
	padding: 27px 15px 20px 25px;
	margin-bottom: 30px;

	.img-box {
		float: left;
		width: 114px;

		img {
			border-radius: 100%;
		}
	}

	.text-box {
		padding-left: 140px;
	}

	h3 {
		font-size: 16px;
		line-height: 1.1;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		margin-top: 10px;
	}

	.text-box p:last-child {
		margin-bottom: 0;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.comment-part {
	margin-top: 44px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.comments-box .title, .comment-reply-title {
	float: none;
	font-size: 22px;
	line-height: 1.1;
	font-weight: 800;
	color: #333;
	margin-bottom: 45px;
	text-transform: uppercase;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.comment-respond {
	margin-top: 45px;
	margin-bottom: 45px;

	.comment-form {
		background: #f7f7f7;
		padding: 50px 30px 40px 30px;
		border: 1px solid #eeeeee;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.comment-form-comment {
	margin-bottom: 21px;
}

.comment-respond {
	input:not([type="submit"]) {
		display: block;
		width: 100%;
		height: 45px;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		line-height: 1.42857143;
		font-weight: 400;
		color: #c4c4c4;
		border: 1px solid #e4e3e7;
		border-radius: 0px;
		padding: 10px 22px;
		margin-bottom: 20px;
		background: #fff;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}

	textarea {
		display: block;
		width: 100%;
		height: 172px;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		line-height: 1.42857143;
		font-weight: 400;
		font-style: normal;
		color: #c4c4c4;
		border: 1px solid #e4e3e7;
		border-radius: 0px;
		padding: 10px 22px;
		background: #fff;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.text_detail {
	color: #fff;
	opacity: 0.8;
	margin-top: 10px;
	font-size: 15px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

h5.nocomments {
	font-weight: 600;
	font-size: 18px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.submit {
	color: #fff;
	background: rgb(143, 20, 3);
	padding: 11px 38px;
	border-radius: 60px;
	border: none;
	text-transform: uppercase;
	border: 2px solid rgb(143, 20, 3);
	transition: all ease 0.5s 0s;

	&:hover {
		color: rgb(143, 20, 3);
		background: #fff;
		padding: 11px 38px;
		border-radius: 60px;
		border: 2px solid rgb(143, 20, 3);
		text-transform: uppercase;
		transition: all ease 0.5s 0s;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.steps-container {
	background: #f0f0f0;
	color: #fff;

	input[type='radio'] {
		&:checked ~ .description {
			height: 170px;
			transition: .3s ease-in;
		}

		width: 100%;
		display: none;
	}

	label {
		width: 100%;
		max-width: 100%;
		cursor: pointer;
		display: inline-block;
		border-bottom: 1px solid #ccc;
		position: relative;

		&:before {
			width: 2px;
			height: 15px;
			background: rgb(143, 20, 3);
			display: inline-block;
			position: absolute;
			content: "";
			z-index: 99;
			right: 25px;
			top: 9px;
			transform: rotate(90deg);
		}

		&:after {
			width: 2px;
			height: 15px;
			background: rgb(143, 20, 3);
			display: inline-block;
			position: absolute;
			content: "";
			z-index: 99;
			right: 25px;
			top: 9px;
			transform: rotate(90deg);
			transform: rotate(0deg);
		}
	}

	input[type='radio']:checked ~ label {
		&:after {
			transform: rotate(90deg);
		}

		cursor: default;
	}

	label span {
		font-weight: 500;
		display: block;
		padding: 10px 12px 10px 15px;
		margin: 0;
		color: #000;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.description {
	color: #222;
	width: 100%;
	height: 0;
	padding-left: 15px;
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	transition: .4s ease-in-out;

	p {
		line-height: 18px;
		padding-right: 10px;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.panel-body {
	padding: 5px;
}

label {
	margin-bottom: 0px;
}

/*
---------------------------------------------
animaction
---------------------------------------------
*/
/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.img_animate {
	animation-delay: 0.2s, 0s;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.title_animate {
	animation-delay: 0.4s, 0s;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.titlep_animate {
	animation-delay: 0.6s, 0s;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.controls {
	padding: 1rem;
	background: #333;
	font-size: 0.1px;
}

.control {
	position: relative;
	display: inline-block;
	width: 2.7rem;
	height: 2.7rem;
	background: #444;
	cursor: pointer;
	font-size: 0.1px;
	color: white;
	transition: background 150ms;

	&:hover {
		background: #3f3f3f;
	}

	&[data-filter]:after {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		top: calc(50% - 6px);
		left: calc(50% - 6px);
		border: 2px solid currentColor;
		border-radius: 2px;
		background: currentColor;
		transition: background-color 150ms, border-color 150ms;
	}

	&[data-sort]:after {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		border-top: 2px solid;
		border-left: 2px solid;
		top: calc(50% - 6px);
		left: calc(50% - 6px);
		transform: translateY(1px) rotate(45deg);
	}

	&[data-sort*=":desc"]:after {
		transform: translateY(-4px) rotate(-135deg);
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.mixitup-control-active {
	background: #393939;

	&[data-filter]:after {
		background: transparent;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.control {
	&:first-of-type {
		border-radius: 3px 0 0 3px;
	}

	&:last-of-type {
		border-radius: 0 3px 3px 0;
	}

	&[data-filter] + .control[data-sort] {
		margin-left: .75rem;
	}

	&[data-filter=".green"] {
		color: #91e6c7;
	}

	&[data-filter=".blue"] {
		color: #5ecdde;
	}

	&[data-filter=".pink"] {
		color: #d595aa;
	}

	&[data-filter="none"] {
		color: #2f2f2f;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.range-slider {
	margin: 0 1rem;
	display: inline-block;
	vertical-align: middle;
	position: relative;

	&:last-child {
		margin-left: 0;
	}

	&::before, &::after {
		font-family: 'helvetica-neue', arial, sans-serif;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol*/

.range-slider-label {
	font-family: 'helvetica-neue', arial, sans-serif;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol,CssUnusedSymbol*/

.range-slider {
	&::before {
		font-size: .7rem;
		color: #aaa;
		content: '0';
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0 .2rem;
	}

	&::after {
		font-size: .7rem;
		color: #aaa;
		content: '0';
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0 .2rem;
		content: '10';
		left: auto;
		right: 0;
	}
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.range-slider-label {
	display: block;
	font-size: .8rem;
	color: #ccc;
	margin-bottom: .05rem;
	font-weight: 700;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.range-slider:last-child .range-slider-label {
	text-align: right;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/

.range-slider-input {
	position: relative;
	background: transparent;
	-webkit-appearance: none;
	margin-bottom: .75rem;
	z-index: 1;

	&::-webkit-slider-runnable-track {
		width: 300px;
		height: 5px;
		background: #888;
		border: none;
		border-radius: 3px;
		transition: background 150ms;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: none;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: #5ecdde;
		margin-top: -6px;
	}
}