body {
    background-color: rgba(236, 236, 240, 0.34);
}

.config {
    font-size: 15px;
}

.fc-agendaWeek-view tr {
    height: 40px;
}

.fc-agendaDay-view tr {
    height: 40px;
}

.fc-today {
    background: rgba(237, 237, 237, 0.71) !important;
}

.fc-prev-button {
    background-color: #991026 !important;
    border-radius: 200px 0px 0px 200px;
    -moz-border-radius: 200px 0px 0px 200px;
    -webkit-border-radius: 200px 0px 0px 200px;
    border: 0px solid #000000;
}

.active{
    box-shadow: none !important;
}

.active:focus {
    box-shadow: none !important;
}

.fc-prev-button:focus {
    box-shadow: none !important;
}

.fc-next-button:focus {
    box-shadow: none !important;
}

.fc-prev-button:hover {
    background-color: #b81229 !important;
    transition-delay: 0.08s;
}

.fc-next-button{
    background-color: #991026 !important;
    border-radius: 0px 200px 200px 0px;
    -moz-border-radius: 0px 200px 200px 0px;
    -webkit-border-radius: 0px 200px 200px 0px;
    border: 0px solid #000000;
}

.fc-next-button:hover {
    background-color: #b81229 !important;
    transition-delay: 0.08s;
}

.fc-agendaDay-button {
    background-color: #991026 !important;
    border-radius: 0px 200px 200px 0px;
    -moz-border-radius: 0px 200px 200px 0px;
    -webkit-border-radius: 0px 200px 200px 0px;
    border: 0px solid #000000;
}

.fc-agendaDay-button:hover {
    background-color: #b81229 !important;
    transition-delay: 0.08s;
}

.fc-today-button {
    background-color: #991026 !important;
    border-radius: 200px 0px 0px 200px;
    -moz-border-radius: 200px 0px 0px 200px;
    -webkit-border-radius: 200px 0px 0px 200px;
    border: 0px solid #000000;
}

.fc-month-button {
    background-color: #991026 !important;
    border: none !important;
}

.fc-month-button:hover {
    background-color: #b81229 !important;
    transition-delay: 0.08s;
}

.fc-agendaWeek-button {
    background-color: #991026 !important;
    border: none !important;
}

.fc-agendaWeek-button:hover {
    background-color: #b81229 !important;
    transition-delay: 0.08s;
}

.fa-arrow-left {
    color: #991026 !important;
}

.fa-bars {
    color: #991026 !important;
}