<script n:syntax="off">
    window.mobilecheck = function () {
        let check = false;
        (function (a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent || navigator.vendor || window.opera);
        return check;
    };
</script>

<script>

    $.nette.ext('unique', null);

    function closeModal() {
        $('#calendarModal').modal('toggle');
    }

    function closeAndUnselect() {
        $.nette.ajax({
            url:{link unselectEvent!},
            type: 'GET',
        });
    }

    let eventsToAdd = [];

    let calendarFragment = $('#fullCalendar');

    calendarFragment.fullCalendar({
        themeSystem: 'bootstrap4',
        weekNumbers: false,
        longPressDelay: 200,
        selectLongPressDelay: 200,
        height: 'auto',
        locale: 'cs',
        allDaySlot: false,
        timeFormat: 'H:mm',
        plugins: ['dayGrid', 'interaction', 'timeGrid'],
        defaultView: window.mobilecheck() ? "agendaDay" : "agendaWeek",
        selectable: isSelectable({$packages}),
        firstDay: 1,
        scrollTime: '08:30:00',
        slotDuration: '00:60:00',
        slotLabelFormat: 'H:mm',
        minTime: {$schedule[0]} + ":00",
        maxTime: {$schedule[1]} + 1 + ":00",
        select: (start, end) => {

            let select = canSelect({$packages}, start);
            let selectableEl = false;

            if (select === 0) {
                showNotify('Nemáte dostatečný počet balíčků', 'times', 'warning');
                selectableEl = false;
            } else if (select === 1) {
                showNotify('Nemůžete rezervovat zpetně', 'times', 'warning');
                selectableEl = false;
            } else if (select === 2) {
                showNotify('Můžete rezervovat maximálně 24h předem', 'times', 'warning');
                selectableEl = false;
            } else if (select === 3) {
                selectableEl = true;
            }

            let modal = $('#calendarModal');

            let actualDate = moment().format('DD.MM.YYYY');
            let selectedStart = moment(start).format('DD.MM.YYYY');
            let actualDateTime = moment().add(1, 'days');
            let selectedDateTime = moment(start);


            if (actualDateTime >= selectedDateTime) {
            } else {
                selectableEl = true;
            }

            if (selectableEl)
            {
                modal.modal({
                    backdrop: 'static',
                    keyboard: false
                });

                modal.modal('show');

                $('#modalConfirm').on('click', function () {

                    let title = {$userName};
                    let startData = start.format('DD.MM.YYYY H:mm');
                    let endData = end.format('DD.MM.YYYY H:mm');
                    let trainerId = {$presenter->getParameter('trainerId')};

                    $.nette.ajax({
                        url:{link saveEvent! start => 'start_time', end => 'end_time', title => 'str_title', trainerId => 'trainer_id'}.replace('start_time', startData)
                            .replace('end_time', endData).replace('str_title', title).replace('trainer_id', trainerId),
                        type: 'GET',
                        success: function (payload) {
                            showNotify('Uloženo', 'check', 'success');
                        }
                    });

                    modal.modal('toggle');

                    let newEvent = {};
                    newEvent.title = title;
                    newEvent.start = start;
                    newEvent.end = end;

                    $('#fullCalendar').fullCalendar('render', newEvent, true);


                });

                $('#title').val('');
            }

        },
        eventRender: (event, element) => {
            element.attr('title', event.tip);
        },
        eventClick: function(calEvent, jsEvent, view){

            let canDelete = hasPermissionToDelete(calEvent.eventUserId, {$userId});

            if (canDelete) {
                if (moment(calEvent.start) > moment()) {
                    let deletionModal = $('#userCalendarModalDelete');

                    deletionModal.modal({
                        backdrop: 'static',
                        keyboard: false
                    });

                    deletionModal.modal('show');

                    $('#userDeleteEventConfirm').on('click', function () {
                        $.nette.ajax({
                            url: {link deleteEvent!},
                            type: 'POST',
                            data: {'eventId': calEvent.id},
                            success: function (payload) {
                                showNotify('Smazáno', 'check', 'success');
                            }
                        });


                        deletionModal.modal('toggle');
                    });
                } else {
                    showNotify('Můžete zrušit lekci maximálně 24 hodin před začátkem', 'times', 'warning');
                }
            }

        },
        dayClick: function(date, jsEvent, view){



        },
        header: {
            left: 'title',
            center: 'prev,next',
            right: 'today,month,agendaWeek,agendaDay'
        },
        events: [
            {if $calendarEvents !== null}
                {foreach $calendarEvents as $event}
                    {
                        id: {$event['id']},
                        title: getTitle({$event['eventUserId']},{$userId},{$event['title']}),
                        start: moment({$event['start']}),
                        end: moment({$event['end']}),
                        eventUserId: {$event['eventUserId']},
                        editable: false,
                        color: getColor({$event['trainer_break']}),
                    },
                {/foreach}
            {/if}
        ],
        views: {
            settimana: {
                type: 'agendaWeek',
                duration: {
                    days: 7
                },
                title: 'Apertura',
                columnFormat: 'dddd D.M.',
            }
        },
    });

    function getEditable(eventId, userId) {
        return eventId === userId;
    }

    function isSelectable(packages) {
        if (packages === 0){
            return false;
        }

        return true;
    }

    function getTitle(eventUserId, userId, title) {
        if (eventUserId === userId) {
            return title;
        }

        return 'Rezervováno';
    }

    function hasPermissionToDelete(eventUserId, userId) {
        return eventUserId === userId;
    }

    function getColor(isBreak) {
        if (isBreak === 'yes') return 'grey';
        else {
            return '#96222E';
        }
    }

    function canSelect(packageAmount, start) {
        if (packageAmount === 0) {
            return 0;
        }

        let today = moment();
        let todayPlusDay = moment().add(1, 'days');

        if (today >= start) {
            return 1;
        } else if (todayPlusDay > start) {
            return 2;
        }

        return 3;
    }

    function showNotify(text, icon, type) {
        $.notify(
            '<i class="fa fa-' + icon + '"></i> ' + text,
            {
                allow_dismiss: true,
                type: type,
                delay: 1000,
                timer: 1000,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });
    }

</script>
