{block content}

    <div class="row">
        <div class="col-md-4 offset-md-4 pt-5">
            <form n:name="selectTrainerForm">
                <div class="form-group">
                    <select class="form-control trainers" id="trainerSelect" n:name="trainer_id"></select>
                </div>
                <button type="submit" class="btn btn-success col-12" id="submitBtn">Vybrat</button>
            </form>
        </div>
    </div>
