{block content}

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Modal -->
        <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Rezervace tréninku</h5>
                    </div>
                    <div class="modal-footer col-md-4 offset-md-4">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeAndUnselect()">Zrušit</button>
                        <button type="submit" id="modalConfirm" class="btn btn-success ajax">Uložit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="userCalendarModalDelete" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Přejete si zrušit lekci?</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row text-center">
                            <div class="col-6">
                                <button class="btn btn-danger" id="userDeleteEventConfirm">Ano</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeAndUnselect()">Ne</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div id="content">
            <br>
            <h2>{$trainerName}</h2>
            <br>
            {snippet calendar}
                <div class="calendar_box">
                    <div id="fullCalendar"></div>
                </div>
            {/snippet}
            <br>
        </div>

    </div>
{/block}

{block customScripts}
    {include '@userCalendar.latte'}
{/block}