{block content}

<div class="row pt-5">
    <div class="col-md-4 offset-md-4 shadow-sm p-3 mb-5 bg-white rounded config col-10 offset-1">
        <div class="row">
            <div class="col-md-6 col-6">
                Unikátní ID:
            </div>
            <div class="col-md-6  col-6">
                <b>{$user->getUid()}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-6">
                Jméno:
            </div>
            <div class="col-md-6 col-6">
                <b>{$user->getFirstName()}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-6">
                Příjmení:
            </div>
            <div class="col-md-6 col-6">
                <b>{$user->getLastName()}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-6">
                Přihlašovací jméno:
            </div>
            <div class="col-md-6 col-6">
                <b>{$user->getNickname()}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-6">
                Email:
            </div>
            <div class="col-md-6 col-6">
                <b>{$user->getEmail()}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-6">
                Datum registrace:
            </div>
            <div class="col-md-6 col-6">
                <b>{$user->getCreatedAt()|date:'d.m.Y'}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-6">
                Počet balíčků:
            </div>
            <div class="col-md-6 col-6">
                <b>{$user->getPackageAmount()}</b>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4 p-3 mb-5 col-10 offset-1">
        <div class="row">
            <button type="button" id="changePsswdBtn" class="btn btn-outline-dark col-12">Změnit heslo</button>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="changePsswdModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Změna hesla</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form n:name="changePasswordForm">
                    <div class="form-group">
                        <label for="psswd1">Staré heslo</label>
                        <input n:name="oldPsswd" type="password" class="form-control" id="psswd1">
                    </div>
                    <div class="form-group">
                        <label for="psswd2">Nové heslo</label>
                        <input n:name="newPsswd" type="password" class="form-control" id="psswd2">
                    </div>
                    <div class="form-group">
                        <label for="psswd3">Kontrola hesla</label>
                        <input n:name="newPsswdConfirm" type="password" class="form-control" id="psswd3">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Uložit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $('#changePsswdBtn').on('click', function () {
        $('#changePsswdModal').modal('show');
    });

</script>