{block content}

<div class="row pt-5">
    <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <h3>Přihlášení uživatele</h3>
    </div>
</div>

<div class="row pt-5">
    <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <form n:name="userLogin">
            <div class="form-group">
                <label for="nickname">{label nickname}</label>
                <input n:name="nickname" type="text" class="form-control" id="nickname" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">{label password}</label>
                <input n:name="password" type="password" class="form-control" id="password" autocomplete="off">
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                    <button type="submit" class="btn btn-primary col-md-12">Přihlásit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="passwordResetModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form n:name="forgottenPasswordForm">
                <div class="modal-header">
                    <h5 class="modal-title">Resetování hesla</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email">{label email}</label>
                        <input n:name="email" type="email" class="form-control" id="email" autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success ajax" id="resetBtn">Resetovat</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $.nette.ext('unique', null);

        $('#here').on('click', function () {
            let modal = $('#passwordResetModal');
            modal.modal('show');

            $('#resetBtn').unbind().click(function () {
                let email = $('#email').val();

                $.nette.ajax({
                    type: 'POST',
                    url: {link forgottenPassword! email => emailStr}.replace('emailStr', email),
                    success: function (payload) {
                        if (payload.err) {
                            showNotify('Email nebyl nalezen.', 'cross', 'warning');
                        } else if (payload.succ) {
                            showNotify('Heslo Vám bylo zasláno na email.', 'check', 'success');
                        }
                    }
                });

                modal.modal('toggle');

            });
            $('#email').val('');
        });

        function showNotify(text, icon, type) {
            $.notify(
                '<i class="fa fa-' + icon + '"></i> ' + text,
                {
                    allow_dismiss: true,
                    type: type,
                    delay: 1000,
                    animate: {
                        enter: 'animated fadeInDown',
                        exit: 'animated fadeOutUp'
                    }
                });
        }

    });
</script>