{block content}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Vítáme tě!</h4>
            <p>Prosíme, aby si vyplnil své údaje, aby jsi mohl dále pokračovat v systému.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form n:name="setNewUser">
            <div class="form-group">
                <label>{label nickname}</label>
                <input n:name="nickname" type="text" class="form-control" autocomplete="off">
            </div>
            <div class="form-group">
                <label>{label password}</label>
                <input n:name="password" type="password" class="form-control" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-success">Potvrdit</button>
        </form>
    </div>
</div>