{block content}

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Modal -->
        <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form n:name="adminCalendarModalForm">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Rezervace tréninku</h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="title">Název</label>
                                    <input n:name="title" type="text" class="form-control" id="title"
                                                          placeholder="Název">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="start">Od: </label>
                                    <input n:name="start" type="text" class="form-control" id="start" placeholder="Od">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="end">Do: </label>
                                    <input n:name="end" type="text" class="form-control" id="end" placeholder="Do">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 ml-4">
                                    <input n:name="break" type="checkbox" class="form-check-input" id="break">
                                    <label class="form-check-label" for="break">Přestávka</label>
                                    <br>
                                    <small>* Název je nepovinný, jestli je zvolena přestávka.</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 ml-4">
                                    <input n:name="repeatedly" type="checkbox" class="form-check-input" id="repeatedly">
                                    <label class="form-check-label" for="repeatedly">Opakovaně?</label>
                                </div>
                            </div>
                            <div class="row" id="hidden">
                                <div class="form-group col-md-12">
                                    <label for="repeat">Opakovaně</label>
                                    <select id="repeat" class="form-control trainers" id="trainerSelect" n:name="repeatOn"></select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="modalConfirm" class="btn btn-success ajax">Uložit</button>
                            <button type="button" id="closeModal" class="btn btn-secondary" onclick="closeAndUnselect()" data-dismiss="modal">Zavřít</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="calendarModalDelete" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Přejete si zrušit lekci?</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row text-center">
                            <div class="col-6">
                                <button class="btn btn-danger" id="deleteEventConfirm">Ano</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeAndUnselect()">Ne</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div id="content">
            <br>
            {snippet calendar}
                <div class="calendar_box">
                    <div id="adminFullCalendar"></div>
                </div>
            {/snippet}
        </div>

    </div>

{/block}

{block customScripts}

    {include '@adminCalendar.latte'}

{/block}