{block content}

<div class="row pt-5">
    <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <h2>Přehled trenérů</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 pt-3">
        <form n:name="selectTrainerForm">
            <div class="form-group">
                <select class="form-control trainers" id="trainerSelect" n:name="trainer_id"></select>
            </div>
            <button type="submit" class="btn btn-success col-12" id="submitBtn">Vybrat</button>
        </form>
    </div>
</div>