<!-- about start-->
<section class="about_sec" id="aboutus" style="padding-top: 0;">
    <div class="about-section">
        <div class="container">
            <div class="abt_right col-lg-8 col-sm-7 col-md-8 col-xs-12" style="padding: 20px 20px !important;">
                <div class="row">
                    <p>Koncept tohoto projektu spočívá v týmové spolupráci našich trenérů a poradců, kteří vás za
                        vzájemné spolupráce podpoří v efektivním dosahování vašich fitness cílů s důrazem na prevenci a
                        nápravu možných obtíží pohybového aparátu.</p>
                    <hr>
                    <h1 style="padding-bottom: 20px; color: rgb(143, 20, 3); font-weight: 500;">Proč TrainFit?</h1>
                    <p style="padding-bottom: 17px;">Pokud se chcete dostat do formy nebo zlepšit funkce pohybového aparátu, je k tomu potřeba
                        přistupovat komplexně. Posoudíme všechny potřebné informace z několika různých
                        pohledů a za vzájemné spolupráce vytvoříme plán, který pro vás bude nejvhodnější.</p>

                    <p style="padding-bottom: 17px;">Z tohoto důvodu jsme sestavili tým odborníků, kteří posoudí váš pohybový aparát, společnými
                        silami připraví nejlepší způsob spolupráce a následně vám pomohou jej realizovat. Trenéři vám
                        budou doporučeni na základě <span id="diagnostic-dropdown"><i class="fa fa-info-circle"></i> Komplexní funkční diagnostiky</span>. Náš diagnostik pro vás obstará
                        veškeré náležitosti.</p>

                    <p style="padding-bottom: 17px;">Dostanete přístup na náš online rezervační systém, díky kterému už nebudete muset složitě
                        dohledávat společné termíny, budete moci bez čekání rezervovat svůj čas dle možností a plánu,
                        jímž se společně budeme řídit.</p>

                    <p>V případě dotazů nás neváhejte kontaktovat, spojení naleznete <a href="#contact" style="color: #a81a04 !important;">zde.</a></p>
                </div>
                <div class="row" id="diagnostic" style="padding-top: 20px;">
                    <h1 style="padding-bottom: 20px; color: rgb(143, 20, 3); font-weight: 500;">Komplexní funkční diagnostika</h1>
                    <p style="padding-bottom: 20px;">Je základem pro vytvoření cvičebního plánu. Její pomocí můžeme posoudit, v jakém stavu se váš pohybový aparát nachází, v případě pohybových obtíží nalézt příčinu a včas zjistit možné dysfunkce, které by v budoucnu mohly nejen limitovat vaše výsledky, ale také vyvolat závažnější obtíže spojené například s bolestí zad, kyčlí, kolen či trupu.</p>
                    <h3 style="padding-bottom: 20px; color: rgb(143, 20, 3); font-weight: 500;">Jak diagnostika probíhá?</h3>
                    <p style="padding-bottom: 20px;">Začíná se vstupním rozhovorem, během kterého probereme váš zdravotní stav, předchozí zkušenosti se sportovními aktivitami a zohledníme veškeré informace, které nám poskytnete.</p>
                    <p style="padding-bottom: 20px;">Poté následuje mnoho testů od základního držení těla, funkčních testů, testů posouzení síly, zkrácení a kooperace svalů, až po provokační testy, které mohou odhalit dispozice k možným problémům a bolestem pohybového aparátu. Vše trvá přibližně 60-90min.</p>
                    <p>Ke konci diagnostiky s vámi podrobně probereme výsledky a doporučíme vhodný postup vzhledem k vašim potřebám.</p>
                </div>
            </div>
        </div>
</section>

<script>
    $('#diagnostic').hide();

    $('#diagnostic-dropdown').on('click', function () {
        $('#diagnostic').toggle(1000);
    });
</script>