<!-- carousel start-->
<section class="slider">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active first">
                <p></p>
                <span> </span></li>
        </ol>
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero rotateBg">
                    <h2 class="sec-title title rotate"><a href="#" data-toggle="modal" data-target="#diagnosticModal" class="diagnosticSale">AKCE</a></h2>
                    <h2 class="sec-title title rotate"><a href="#" data-toggle="modal" data-target="#diagnosticModal" class="diagnosticSale">Komplexní funkční diagnostika</a></h2>
                </div>
            </div>
</section>

<!-- Modal -->
<div class="modal fade" id="diagnosticModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                    <h1 style="padding-bottom: 20px; color: rgb(143, 20, 3); font-weight: 500;">Komplexní funkční diagnostika</h1>
                    <p style="padding-bottom: 20px;">Je základem pro vytvoření cvičebního plánu. Její pomocí můžeme posoudit, v jakém stavu se váš pohybový aparát nachází, v případě pohybových obtíží nalézt příčinu a včas zjistit možné dysfunkce, které by v budoucnu mohly nejen limitovat vaše výsledky, ale také vyvolat závažnější obtíže spojené například s bolestí zad, kyčlí, kolen či trupu.</p>
                    <h3 style="padding-bottom: 20px; color: rgb(143, 20, 3); font-weight: 500;">Jak diagnostika probíhá?</h3>
                    <p style="padding-bottom: 20px;">Začíná se vstupním rozhovorem, během kterého probereme váš zdravotní stav, předchozí zkušenosti se sportovními aktivitami a zohledníme veškeré informace, které nám poskytnete.</p>
                    <p style="padding-bottom: 20px;">Poté následuje mnoho testů od základního držení těla, funkčních testů, testů posouzení síly, zkrácení a kooperace svalů, až po provokační testy, které mohou odhalit dispozice k možným problémům a bolestem pohybového aparátu. Vše trvá přibližně 60-90min.</p>
                    <p>Ke konci diagnostiky s vámi podrobně probereme výsledky a doporučíme vhodný postup vzhledem k vašim potřebám.</p>
            </div>
            <div class="modal-footer">
                <div class="submit_btn_box">
                    <button onclick="window.location.href = 'https://trainfit.cz#contact';" class="submit_btn hvr-shutter-out-horizontal" type="button" id="redirect">Objednat se</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function(){
        function alignModal(){
            var modalDialog = $(this).find(".modal-dialog");
            /* Applying the top margin on modal dialog to align it vertically center */
            modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
        }
        // Align modal when it is displayed
        $(".modal").on("shown.bs.modal", alignModal);

        // Align modal when user resize the window
        $(window).on("resize", function(){
            $(".modal:visible").each(alignModal);
        });
    });
</script>