<!--footer start-->
<footer class="main-footer">
    <div class="footer">
        <div class="container">
            <div class="slide-top footer-logo"><a n:href="default">
                    <h2 class="logo_name">TRAIN <span class="white_text">FIT </span></h2>
                </a></div>
            <div class="slide-bottom footer-menu">
                <ul class="nav-menu">
                    <li><a href="#services">Služby</a></li>
                    <li><a href="#Trainer">Náš Tým</a></li>
                    <li><a href="#pricelist">Ceník</a></li>
                    <li><a href="#contact">Kontakt</a></li>
                </ul>
            </div>
            <div class="slide-bottom social footer-social"><span>Sledujte nás na</span>
                <ul>
                    <li class="faebook">
                        <a href="#" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="insta">
                        <a href="#" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->