<!-- header start-->
<header class="main-header">
    <div class="header-top">
    </div>
    <div class="header-lower">
        <div class="container clearfix">
            <div class="logo pull-left"><a n:href=":default">
                    <h2 class="logo_name">TRAIN <span class="white_text">FIT </span></h2>
                </a></div>
            <div class="right-cont clearfix">
                <nav class="main-menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse"><span class="icon-bar"></span> <span
                                    class="icon-bar"></span> <span class="icon-bar"></span></button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="nav navbar-nav navbar-right  ml-auto" id="onenav">
                            <li class="nav-link"><a href="#services" class="js-scroll-trigger">SLUŽBY</a>
                            <li class="nav-link"><a href="#Trainer" class="js-scroll-trigger">NÁŠ TÝM</a>
                            <li class="nav-link"><a href="#pricelist" class="js-scroll-trigger">CENÍK</a>
                            <li class="nav-link"><a href="#contact" class="js-scroll-trigger">KONTAKT</a>
                            <li class="nav-link"><a n:href=":User:User:" class="js-scroll-trigger"
                                                                         style="color: rgb(143, 20, 3); font-weight: bold;">MŮJ
                                    ÚČET</a>
                            </li>
                            <li class="social_nav">
                                <div class="social"><span class="txt"> Sledujte na </span><a class="circlef" href="#"><i
                                                class="fa fa-facebook-f"></i></a><a class="circlei" href="#"><i
                                                class="fa fa-instagram"></i></a></div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- header end-->