<section class="about_sec" id="pricelist">
    <div class="about-section">
        <div class="container">
            <div class="abt_right">
                <div class="row">
                    <div class="row">
                        <h2 class="title"><span>CENÍK</span></h2>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-sm-12">
                            <h1 style="padding-bottom: 20px; color: rgb(143, 20, 3); font-weight: 500;">Akce</h1>
                            <p>Komplexní funkční diagnostika <b class="prices" style="text-decoration: line-through;">1200,-Kč</b> * <b class="prices">600,-Kč</b> (* platí do konce března)</p>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-sm-12">
                            <h1 style="padding-bottom: 20px; color: rgb(143, 20, 3); font-weight: 500;">Trenéři</h1>
                            <p style="padding-bottom: 20px;">Ceny lekcí se pohybují v rozmezí od 700,-Kč do 800,-Kč / hodina</p>
                            <p>Podrobný rozpis naleznete <span id="pricelist-dropdown"><i class="fa fa-info-circle"></i> zde.</span></p>
                        </div>
                    </div>
                    <div class="row" id="priceList">
                        <div class="col-sm-12">
                            {foreach $priceLists as $priceList}
                                <div class="row" style="border-bottom: 1px solid #f0f0f0; padding-top: 6px;">
                                    <div class="col-6 col-xs-6 col-md-6 col-lg-6">
                                        <p style="font-size: 19px;">{$priceList['fullName']}</p>
                                    </div>
                                    <div class="col-6 col-xs-6 col-md-6 col-lg-6 text-right">
                                        <p class="prices">{$priceList['hourPrice']},-Kč/h</p>
                                    </div>
                                </div>
                            {/foreach}
                        </div>
                    </div>
                    <br>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 style="padding-bottom: 20px; color: rgb(143, 20, 3); font-weight: 500;">Výživové poradenství</h1>
                            <p style="padding-bottom: 20px;">Ceny lekcí se pohybují v rozmezí od 500,-Kč do 700,-Kč / 45 min.</p>
                            <p>Podrobný rozpis naleznete <span id="pricelist-nutrition-dropdown"><i class="fa fa-info-circle"></i> zde.</span></p>
                        </div>
                    </div>
                    <div class="row" id="nutrition1" style="padding-top: 20px;">
                        <div class="col-sm-12">
                            <h3 style="padding-bottom: 20px; color: rgb(143, 20, 3); font-weight: 500;">Kristýna Jelínková</h3>
                            <p><b>Měsíční zvýhodněná spolupráce (4 týdny)</b></p>
                            <p> - ve spolupráci s trenéry 1500,-,Kč</p>
                            <p> - mimo spolupráci s trenéry	1900,-,Kč</p>
                            <br>
                            <p><b>Spolupráce zahrnuje: </b></p>
                            <p> - úvodní on-line konzultaci</p>
                            <p> - stravovací plán na doporučenou dobu 4 týdnů</p>
                            <p> - 2x on-line konzultace během 4 týdnů</p>
                        </div>
                    </div>
                    <div class="row" id="nutrition2">
                        <div class="col-sm-12">
                            <h3 style="padding: 20px 0; color: rgb(143, 20, 3); font-weight: 500;">Konzultace</h3>
                            <h4 style="padding-bottom: 20px; color: rgb(143, 20, 3); font-weight: 500;">1x on-line konzultace </h4>
                            <p> - ve spolupráci s trenéry	500,- /45min.</p>
                            <p> - mimo spolupráci s trenéry	700,- /45min.</p>
                            <br>
                            <h4 style="padding-bottom: 20px; color: rgb(143, 20, 3); font-weight: 500;">5x on-line konzultace </h4>
                            <p> - ve spolupráci s trenéry	1800,- /45min.</p>
                            <p> - mimo spolupráci s trenéry	2400,- /45min.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('#priceList').hide();
    $('#nutrition1').hide();
    $('#nutrition2').hide();

    $('#pricelist-nutrition-dropdown').on('click', function () {
        $('#nutrition1').toggle(1000);
        $('#nutrition2').toggle(1000);
    });

    $('#pricelist-dropdown').on('click', function () {
        $('#priceList').toggle(1000);
    });
</script>