<section class="about_sec" id="services">
    <div class="about-section">
        <div class="container">
            <div class="abt_right col-lg-8 col-sm-7 col-md-8 col-xs-12">
                <div class="row">
                    <h2 class="title" style="padding-left: 10px;"><span>Služby</span></h2>
                    <ul style="line-height: 36px; font-weight: 500;">
                        <li style="font-size: 19px;">komplexní funkční diagnostika</li>
                        <li style="font-size: 19px;">cíleně nastavený trénink vedoucí k:
                            <ul>
                                <li style="font-size: 19px;">prevenci a nápravě pohybového aparátu</li>
                                <li style="font-size: 19px;">zlepšení svalových a pohybových funkcí</li>
                                <li style="font-size: 19px;">nárustu svalové hmoty</li>
                                <li style="font-size: 19px;">redukci tělesného tuku</li>
                            </ul>
                        </li>
                        <li style="font-size: 19px;">silově kondiční příprava</li>
                        <li style="font-size: 19px;">rozvoj pohybových dovedností</li>
                        <li style="font-size: 19px;">výživové poradenství</li>
                        <li style="font-size: 19px;">sestavení stravovacího plánu</li>
                    </ul>
                </div>

                <br>

                <!-- Button trigger modal -->
                <button style="display: none;" type="button" id="modalButton" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Více informací
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="exampleModalLabel">Jak vše probíhá?</h2>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                    <h4 class="title" style="margin-bottom: 0"><span>Komplexní funkční diagnostika</span></h4>
                                    <p>
                                        Je základem pro vytvoření cvičebního plánu, ať už je váš cíl jakýkoliv. Tedy nejen z hlediska
                                        nápravy aparátu, ale také vzhledem ke zlepšení svalových a pohybových funkcí, které mohou
                                        mít významný vliv na váš výkon a výsledky.
                                    </p>
                                    <h3 class="title" style="margin-bottom: 0"><span>Proč je důležitá a co si z toho odnesete?</span></h3>
                                    <p>
                                        Její pomocí můžeme posoudit, v jakém stavu se váš pohybový aparát nachází a jak funguje.
                                        V případě svalových či pohybových obtíží nalézt příčinu a včas zjistit možné dysfunkce, které
                                        by v budoucnu mohli vyvolat závažnější problémy spojené s bolestí zad, kyčlí, kolen či trupu.
                                    </p>
                                    <h3 class="title" style="margin-bottom: 0"><span>Jak diagnostika probíhá?</span></h3>
                                    <p>
                                        Vše začíná vstupním rozhovorem, během kterého probereme váš zdravotní stav, předchozí
                                        zkušenosti se sportovními aktivitami apod. V případě, že přicházíte s konkrétními obtížemi a
                                        máte zdravotní zprávu, prosíme přineste ji sebou.
                                        Diagnostika trvá přibližně hodinu a zahrnuje mnoho testů od základního držení těla,
                                        funkčních testů, testů posouzení síly, zkrácení a spolupráce svalů, až po provokační testy,
                                        které mohou odhalit dispozice k možným problémům/bolestem pohybového aparátu.
                                        Ke konci diagnostiky s vámi podrobně probereme výsledky a dohodneme se na dalším
                                        postupu.
                                    </p>
                                    <h3 class="title" style="margin-bottom: 0"><span>Co vezměte s sebou?</span></h3>
                                    <p>
                                        Nezapomeňte lékařskou zprávu, všechny další podklady k případnému řešenému problému,
                                        a vhodné oblečení. Diagnostika probíhá nejlépe ve spodním prádle, z důvodu kvalitního
                                        posouzení stavu a funkčnosti vašeho pohybového aparátu.
                                    </p>
                                </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Zavřít</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</section>