<section class="tainers_box">
    <div class="container">
        <div class="row">
            <div class="trainers-list carousel">
                <div class="col-md-4 col-sm-6">
                    <div class="item">
                        <div class="trainer_box1">
                            <div class="img_trainer1">
                                <img class="img-responsive" src="{$basePath}/www/assets/images/Formfactoryteam-143.jpg"
                                     alt="">
                            </div>
                            <div class="footer-social1">
                                <ul class="social_icon">
                                    <li><a href="https://www.facebook.com/frantisek.och.92"><img class="img-responsive"
                                                         src="{$basePath}/www/assets/images/facebook.png"
                                                         alt="facebook icon"></a></li>
                                    <li><a href="https://www.instagram.com/ochfrantisek/"><img class="img-responsive"
                                                         src="{$basePath}/www/assets/images/instagram.png"
                                                         alt="instagram icon"></a></li>
                                </ul>
                            </div>
                            <div class="trainer_con1">
                                <h3>František Och</h3>
                                <p>Komplexní funkční diagnostika</p>
                                <p>Náprava pohybového aparátu</p>
                                <p>Zlepšení svalových a pohybových funkcí</p>
                                <p>Silově kondiční příprava</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="item">
                        <div class="trainer_box1">
                            <div class="img_trainer1">
                                <img class="img-responsive" src="{$basePath}/www/assets/images/Formfactoryteam-62.jpg"
                                     alt="">
                            </div>
                            <div class="footer-social1">
                                <ul class="social_icon">
                                    <li><a href="https://www.facebook.com/seba.balin"><img class="img-responsive"
                                                         src="{$basePath}/www/assets/images/facebook.png"
                                                         alt="facebook icon"></a></li>
                                    <li><a href="https://www.instagram.com/sebastian_balin"><img class="img-responsive"
                                                         src="{$basePath}/www/assets/images/instagram.png"
                                                         alt="instagram icon"></a></li>
                                </ul>
                            </div>
                            <div class="trainer_con1">
                                <h3>Sebastian Balín</h3>
                                <p>Nabírání svalové hmoty</p>
                                <p>Redukce tělesné hmotnosti</p>
                                <p>Tvarování postavy</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="item">
                        <div class="trainer_box1">
                            <div class="img_trainer1">
                                <img class="img-responsive" src="{$basePath}/www/assets/images/Formfactoryteam-78.jpg"
                                     alt="">
                            </div>
                            <div class="footer-social1">
                                <ul class="social_icon">
                                    <li><a href="https://www.facebook.com/barbora.kapounova"><img class="img-responsive"
                                                                                                  src="{$basePath}/www/assets/images/facebook.png"
                                                                                                  alt="facebook icon"></a></li>
                                    <li><a href="https://www.instagram.com/baxiska_13"><img class="img-responsive"
                                                                                            src="{$basePath}/www/assets/images/instagram.png"
                                                                                            alt="instagram icon"></a></li>
                                </ul>
                            </div>
                            <div class="trainer_con1">
                                <h3>Barbora Kapounová</h3>
                                <p>Komplexní rozvoj pohybových dovedností</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="trainers-list carousel">
                <div class="col-md-4 col-sm-6">
                    <div class="item">
                        <div class="trainer_box1">
                            <div class="img_trainer1">
                                <img class="img-responsive" src="{$basePath}/www/assets/images/Formfactoryteam-25.jpg"
                                     alt="">
                            </div>
                            <div class="footer-social1">
                                <ul class="social_icon">
                                    <li><a href="https://www.facebook.com/profile.php?id=100010844829644"><img class="img-responsive"
                                                         src="{$basePath}/www/assets/images/facebook.png"
                                                         alt="facebook icon"></a></li>
                                    <li><a href="https://www.instagram.com/rhtrener"><img class="img-responsive"
                                                         src="{$basePath}/www/assets/images/instagram.png"
                                                         alt="instagram icon"></a></li>
                                </ul>
                            </div>
                            <div class="trainer_con1">
                                <h3>Robert Hlušička</h3>
                                <p>Nabírání svalové hmoty</p>
                                <p>Redukce tělesné hmotnosti</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="item">
                        <div class="trainer_box1">
                            <div class="img_trainer1">
                                <img class="img-responsive" src="{$basePath}/www/assets/images/tyna.jpg"
                                     alt="">
                            </div>
                            <div class="footer-social1">
                                <ul class="social_icon">
                                    <li><a href="https://www.facebook.com/KristynaJelinkova0"><img class="img-responsive"
                                                         src="{$basePath}/www/assets/images/facebook.png"
                                                         alt="facebook icon"></a></li>
                                    <li><a href="https://www.instagram.com/kristy_jelinkova/"><img class="img-responsive"
                                                         src="{$basePath}/www/assets/images/instagram.png"
                                                         alt="instagram icon"></a></li>
                                </ul>
                            </div>
                            <div class="trainer_con1">
                                <h3>Kristýna Jelínková</h3>
                                <p>Sestavení stravovacího plánu</p>
                                <p>Online individuální konzultace</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>