{block content}
{include 'blocks/@header.latte'}

<br>
<br>
<div class="contact_form">
    <div class="container" id="contact">
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="about_inner_page_con title_box">
                    {if !$mobile}
                        <div class="row">
                            <div class="col-sm-6">
                                <p style="margin-bottom: 4px; font-weight: bold;">Spojení:</p>
                                <p style="margin-bottom: 10px"><i style="color: rgb(143, 20, 3);" class="fa fa-phone"></i>&nbsp; 734 419 749</p>
                                <p style="margin-bottom: 10px"><i style="color: rgb(143, 20, 3);" class="fa fa-envelope"></i> info@trainfit.cz</p>
                                <p><i style="color: rgb(143, 20, 3);" class="fa fa-credit-card"></i> 979709797 / 0600</p>
                            </div>
                            <div class="col-sm-6">
                                <p style="margin-bottom: 4px; font-weight: bold;">Místo působení:</p>
                                <p style="margin-bottom: 10px">Form Factory Vinohradská</p>
                                <p style="margin-bottom: 10px">Vinohradská 190</p>
                                <p>130 00  Praha 3</p>
                            </div>
                        </div>
                    {else}
                        <div class="row">
                            <div class="col-sm-12">
                                <p style="margin-bottom: 4px; font-weight: bold;">Spojení:</p>
                                <a href="tel:+420734419749" style="color: black !important;"><i style="color: rgb(143, 20, 3);" class="fa fa-phone"></i>&nbsp; 734 419 749</a>
                                <br><br>
                                <a href="mailto:info@trainfit.cz" style="color: black !important;"><i style="color: rgb(143, 20, 3);" class="fa fa-envelope"></i> info@trainfit.cz</a>
                                <br><br>
                                <a style="color: black !important; margin-bottom: 10px;"><i style="color: rgb(143, 20, 3);" class="fa fa-credit-card"></i> 979709797 / 0600</a>
                            </div>
                        </div>
                    {/if}
                    {if $mobile}
                        <p style="margin-bottom: 4px; padding-top: 10px; font-weight: bold;">Místo působení:</p>
                        <p style="margin-bottom: 13px">Form Factory Vinohradská</p>
                        <p style="margin-bottom: 13px">Vinohradská 190</p>
                        <p>130 00  Praha 3</p>
                        <h2 class="title" style="font-size: 30px !important; margin-bottom: 10px"><span></span>Kontaktní
                            formulář naleznete zde</h2>
                    {else}
                    {/if}
                </div>
            </div>
        </div>
        <div class="row">
            <form n:name="contactForm">
                <div class="row">
                    <div class="col-md-6">
                        <input n:name="name" class="contact_form_detail" required type="text" placeholder="Jméno">
                    </div>
                    <div class="col-md-6">
                        <input n:name="surname" class="contact_form_detail" required type="text" placeholder="Příjmení">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <input n:name="email" class="contact_form_detail" required type="text" placeholder="E-mail">
                    </div>
                    <div class="col-md-6">
                        <input n:name="number" class="contact_form_detail" type="text" placeholder="Tel. číslo">
                    </div>
                </div>
                <div>
                    <textarea n:name="text" class="contact_form_detail1" required placeholder="Vaše zpráva"></textarea>
                </div>
                <div class="col-md-12">
                    <div class="form-group form-check">
                        <input n:name="policy" type="checkbox" class="form-check-input" id="policy">
                        <label class="form-check-label" for="policy">Souhlasím se zpracováním osobních údajů.</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="submit_btn_box">
                        <input n:name="submit" class="submit_btn hvr-shutter-out-horizontal" type="submit"
                                               value="Odeslat">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>