{block content}
<div class="page-wrapper">

    {include 'blocks/@header.latte'}

    <hr>

    {include 'blocks/@carousel.latte'}

    <hr>

    {include 'blocks/@services.latte'}

    {include 'blocks/@about.latte'}

    <hr>

    <!--Trainers start-->
    <section class="Trainer_sec" id="Trainer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-lg-6 col-md-8">
                    <div class="title-right">
                        <h2 class="title"><span>NÁŠ TÝM</span></h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="trainers-list carousel">
                        <div class="owl-carousel owl-theme ss_carousel" id="slider3">
                            <div class="item">
                                <div class="trainer_box">
                                    <div class="img_trainer"><img class="img-responsive"
                                                                  src="{$basePath}/www/assets/images/Formfactoryteam-143.jpg"
                                                                  alt=""></div>
                                    <div class="footer-social1">
                                        <ul class="social_icon">
                                            <li><a href="https://www.facebook.com/frantisek.och.92"><img class="img-responsive"
                                                                                                         src="{$basePath}/www/assets/images/facebook.png"
                                                                                                         alt="facebook icon"></a></li>
                                            <li><a href="https://www.instagram.com/ochfrantisek/"><img class="img-responsive"
                                                                                                       src="{$basePath}/www/assets/images/instagram.png"
                                                                                                       alt="instagram icon"></a></li>
                                        </ul>
                                    </div>
                                    <div class="trainer_con">
                                        <h3>František Och</h3>
                                        <p>Komplexní funkční diagnostika</p>
                                        <p>Náprava pohybového aparátu</p>
                                        <p>Zlepšení svalových a pohybových funkcí</p>
                                        <p>Silově kondiční příprava</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="trainer_box">
                                    <div class="img_trainer"><img class="img-responsive"
                                                                  src="{$basePath}/www/assets/images/Formfactoryteam-78.jpg"
                                                                  alt="t3"></div>
                                    <div class="footer-social1">
                                        <ul class="social_icon">
                                            <li><a href="https://www.facebook.com/barbora.kapounova"><img class="img-responsive"
                                                                                                          src="{$basePath}/www/assets/images/facebook.png"
                                                                                                          alt="facebook icon"></a></li>
                                            <li><a href="https://www.instagram.com/baxiska_13/"><img class="img-responsive"
                                                                                                     src="{$basePath}/www/assets/images/instagram.png"
                                                                                                     alt="instagram icon"></a></li>
                                        </ul>
                                    </div>
                                    <div class="trainer_con">
                                        <h3>Barbora Kapounová</h3>
                                        <p>Komplexní rozvoj pohybových dovedností</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="trainer_box">
                                    <div class="img_trainer">
                                        <img class="img-responsive" src="{$basePath}/www/assets/images/Formfactoryteam-62.jpg"
                                             alt="">
                                    </div>
                                    <div class="footer-social1">
                                        <ul class="social_icon">
                                            <li><a href="https://www.facebook.com/seba.balin"><img class="img-responsive"
                                                                                                   src="{$basePath}/www/assets/images/facebook.png"
                                                                                                   alt="facebook icon"></a></li>
                                            <li><a href="https://www.instagram.com/sebastian_balin"><img class="img-responsive"
                                                                                                         src="{$basePath}/www/assets/images/instagram.png"
                                                                                                         alt="instagram icon"></a></li>
                                        </ul>
                                    </div>
                                    <div class="trainer_con1">
                                        <h3>Sebastian Balín</h3>
                                        <p>Nabírání svalové hmoty</p>
                                        <p>Redukce tělesné hmotnosti</p>
                                        <p>Tvarování postavy</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="trainer_box">
                                    <div class="img_trainer">
                                        <img class="img-responsive" src="{$basePath}/www/assets/images/Formfactoryteam-25.jpg"
                                             alt="">
                                    </div>
                                    <div class="footer-social1">
                                        <ul class="social_icon">
                                            <li><a href="https://www.facebook.com/profile.php?id=100010844829644"><img class="img-responsive"
                                                                                                                       src="{$basePath}/www/assets/images/facebook.png"
                                                                                                                       alt="facebook icon"></a></li>
                                            <li><a href="https://www.instagram.com/rhtrener"><img class="img-responsive"
                                                                                                  src="{$basePath}/www/assets/images/instagram.png"
                                                                                                  alt="instagram icon"></a></li>
                                        </ul>
                                    </div>
                                    <div class="trainer_con1">
                                        <h3>Robert Hlušička</h3>
                                        <p>Nabírání svalové hmoty</p>
                                        <p>Redukce tělesné hmotnosti</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="trainer_box">
                                    <div class="img_trainer">
                                        <img class="img-responsive" src="{$basePath}/www/assets/images/tyna.jpg"
                                             alt="">
                                    </div>
                                    <div class="footer-social1">
                                        <ul class="social_icon">
                                            <li><a href="https://www.facebook.com/KristynaJelinkova0"><img class="img-responsive"
                                                                                                           src="{$basePath}/www/assets/images/facebook.png"
                                                                                                           alt="facebook icon"></a></li>
                                            <li><a href="https://www.instagram.com/kristy_jelinkova/"><img class="img-responsive"
                                                                                                           src="{$basePath}/www/assets/images/instagram.png"
                                                                                                           alt="instagram icon"></a></li>
                                        </ul>
                                    </div>
                                    <div class="trainer_con1">
                                        <h3>Kristýna Jelínková</h3>
                                        <p>Vytvoření výživového plánu</p>
                                        <p>Online individuální konzultace</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="view-all"><a href="#">view all</a></div> -->
        </div>
    </section>
    <!--Trainers end-->

    <hr>

    {include 'blocks/@pricelist.latte'}

    <hr>

    {include 'contact.latte'}

    {include 'blocks/@footer.latte'}
</div>
<a href="#" class="scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>