{block content}

<div class="row pt-5">
    <div class="col-md-4 offset-md-4">
        <h2>Informace</h2>
    </div>
</div>

<div class="row pt-5">
    <div class="col-md-6 offset-md-3 shadow-sm p-3 mb-5 bg-white rounded config col-10 offset-1">
        <div class="row">
            <div class="col-md-6 col-6">
                Jméno:
            </div>
            <div class="col-md-6  col-6">
                <b>{$trainer}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-6">
                Email:
            </div>
            <div class="col-md-6 col-6">
                {if $email !== ''}
                    <b>{$email}</b>
                {else}
                    <b>Nemáte zadaný email</b>
                {/if}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-6">
                Přihlašovací jméno:
            </div>
            <div class="col-md-6 col-6">
                <b>{$nickname}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-6">
                Vyděláno k dnešnímu dni:
            </div>
            <div class="col-md-6 col-6">
                <b>{$made},-Kč</b>
            </div>
        </div>
    </div>
</div>