{block content}

<div class="row pt-5">
    <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <h2>Balíčky</h2>
        <br>
        <form n:name="selectUserForm">
            <div class="form-group">
                <label for="userSelect">Uživatel: </label>
                <select class="form-control trainers" id="userSelect" n:name="user"></select>
            </div>
            <div class="form-group">
                <label for="packages">Balíček: </label>
                <select class="form-control trainers" id="packages" n:name="packages"></select>
            </div>
            <button type="submit" class="btn btn-success col-12 ajax" id="submitBtn">Vybrat</button>
        </form>
    </div>
</div>

<script>

    $.nette.ext('unique', null);

    $('#submitBtn').on('click', function () {
        let userId = $('#userSelect').val();
        let packageAmount = $('#packages').val();

        let ajaxData = {'userId': userId, 'packageAmount': packageAmount};
        ajaxData = JSON.stringify(ajaxData);

        $.nette.ajax({
            url: {link packageSelection!},
            data: {'data': ajaxData},
            success: function (payload) {
                console.log('success');
            }
        })
    });

</script>