{block content}

<div class="row pt-5">
    <div class="col-md-4 offset-md-4 pb-4">
        <h2>Ceníky trenérů</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {control trainersPriceList}
    </div>
</div>