{block content}

<div class="row pt-5">
    <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <h2>Nastavení trenéra</h2>
        <br>
        <form n:name="settingsForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input n:name="email" type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="password">Heslo</label>
                <input n:name="password" type="password" class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="nickname">Nickname</label>
                <input n:name="nickname" type="text" class="form-control" id="nickname">
            </div>
            <button type="submit" class="col-md-12 btn btn-success">Změnit</button>
        </form>
        <br>
        <h2>Nastavení kalendáře</h2>
        <form n:name="calendarSettingsForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="from">{label from}</label>
                        <input n:name="from" type="number" class="form-control" id="from">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="to">{label to}</label>
                        <input n:name="to" type="number" class="form-control" id="to">
                    </div>
                </div>
            </div>
            <button type="button" id="saveCalendarSettingsBtn" class="col-md-12 btn btn-success">Uložit</button>
        </form>
    </div>
</div>

<script>
    $(function () {
        let btn = $('#saveCalendarSettingsBtn');

        btn.on('click', function () {
            const from = $('#from').val();
            const to = $('#to').val();
            const objData = {};

            objData.from = from;
            objData.to = to;

            const data = JSON.stringify(objData);

            $.nette.ajax({
                method: 'POST',
                url: {link saveCalendarSettings!},
                data: {'data': data},
                success: function (e) {
                    showNotify('Uloženo', 'check', 'success');
                }
            })
        });
    });


    function showNotify(text, icon, type) {
        $.notify(
            '<i class="fa fa-' + icon + '"></i> ' + text,
            {
                allow_dismiss: true,
                type: type,
                delay: 1000,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });
    }
</script>